.alertaTimbre {
    width: 100px;
}
*:focus {
    outline: none;
}

.alert-danger {
    width: 281px;
    position: absolute;
    margin-left: 55%;
    top: 16px;
}
.contadorTIMBRES {
    width: 167px;
    margin-left: 60%;
    margin-top: -61px;
}
.botonCredito {
    margin-top: 17px;
    margin-left: 12px;
    position: absolute;
}
.cre {
color: black;
}
.red {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    color: red;
    font-weight: bold;
}

.botonN{
    margin-top: -77px;
    width: 10px;
    position: absolute;
    margin-left: 242px;;
}

.botonNotas {
 height: 34px;
 background: white;
}


.botonNotas:hover {
    color: white;
    background-color: #D62B06;   
}
.botonNotas:active {
    border: none;
}
.botonNotas:focus {
    outline: none;
}


.fa-credit-card {
    font-size: 20px;
}
.fa-credit-card:hover {
    font-size: 20px;
    color: white;
}