<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarContenedor( input.value )" type="text" class="form-control" placeholder="Buscar contenedor...">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!--<div class="text-right">
                    <button [routerLink]="['/camion','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                <i class="fa fa-plus"></i> 
                Añadir nueva camion
              </button>
                </div>-->

                <h3 class="card-title">Contenedores registrados ( <small></small> )</h3>

                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>No. Contenedor</th>
                            <th>Fecha de entrada</th>
                            <th>Buque de entrada</th>
                            <th>Viaje de entrada</th>
                            <th>Grado</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--*ngFor="let camion of camiones"-->
                        <tr>
                            <td>CONT123456</td>
                            <td>12/Abril/2019</td>
                            <td>12/Abril/2019</td>
                            <td>12/Abril/2019</td>
                            <td>A</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  <i class="fas fa-angle-left"></i> Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes <i class="fas fa-angle-right"></i>
              </button>
            </div>

        </div>
    </div>
</div>