<div class="row animated fadeIn">
  <div class="col-md">
    <div class="card card-body">
      <mat-dialog-content>
        <h3 class="box-title m-b-0">Mantenimientos de Contenedor</h3><br>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <form [formGroup]="regForm" novalidate>
              <div class="my-container">

                <mat-form-field>
                  <mat-select placeholder="Seleccione un tipo de Mantenimiento" formControlName="tipoMantenimiento" name="tipoMantenimiento" (selectionChange)="onChangeTipoMantenimiento($event)">
                    <mat-option *ngFor="let mantenimiento of tiposMantenimiento" [value]="mantenimiento.id">
                      {{ mantenimiento.descripcion }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="tipoMantenimiento.touched && tipoMantenimiento.invalid">
                    <sup>*</sup>Por Favor seleccionar un tipo de Mantenimiento
                  </mat-error>
                </mat-form-field>
                <div *ngIf="this.tipoLavado.enabled">
                  <mat-form-field>
                    <mat-label>Tipo Lavado</mat-label>
                    <mat-select formControlName="tipoLavado" tabindex="1">
                      <mat-option *ngFor="let tipo of tiposLavado" [value]="tipo.id">
                        {{tipo.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="this.cambioGrado.enabled">
                  <mat-checkbox formControlName="cambioGrado" name="cambioGrado">
                    cambio de Grado
                  </mat-checkbox>
                </div>

                <mat-checkbox formControlName="finalizado" name="finalizado">
                  Finalizado
                </mat-checkbox>

                <mat-form-field>
                  <mat-label>Observaciones Generales</mat-label>
                  <textarea matInput formControlName="observacionesGenerales" name="observacionesGenerales" class="form-control" rows="3" cols="40" placeholder="ObservacionesGenerales"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Izquierdo</mat-label>
                  <textarea matInput formControlName="izquierdo" name="izquierdo" class="form-control" rows="3" cols="40" placeholder="Izquierdo"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Derecho</mat-label>
                  <textarea matInput formControlName="derecho" name="derecho" class="form-control" rows="3" cols="40" placeholder="Derecho"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Frente</mat-label>
                  <textarea matInput formControlName="frente" name="frente" class="form-control" rows="3" cols="40" placeholder="Frente"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Posterior</mat-label>
                  <textarea matInput formControlName="posterior" name="posterior" class="form-control" rows="3" cols="40" placeholder="Posterior"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Piso</mat-label>
                  <textarea matInput formControlName="piso" name="piso" class="form-control" rows="3" cols="40" placeholder="Piso"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Techo</mat-label>
                  <textarea matInput formControlName="techo" name="techo" class="form-control" rows="3" cols="40" placeholder="Techo"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Interior</mat-label>
                  <textarea matInput formControlName="interior" name="interior" class="form-control" rows="3" cols="40" placeholder="Interior"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Puerta</mat-label>
                  <textarea matInput formControlName="puerta" name="puerta" class="form-control" rows="3" cols="40" placeholder="Puerta"></textarea>
                </mat-form-field>

                Fechas:
                <p>
                  <button matTooltip="Nueva Fecha" mat-mini-fab class="btn btn-primary" (click)="addFecha()" type="button">
                    <i class="fa fa-plus"></i>
                </button>
                </p>
                <div formArrayName="fechas">
                  <div *ngFor="let fecha of this.fechas.controls; let i=index">
                    <div [formGroupName]="i">
                      <div class="row">
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Fecha Inicio</mat-label>
                            <input matInput formControlName="fIni" name="fIni" type="text" placeholder="Fecha Inicio" [matDatepicker]="pick">
                            <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
                            <mat-datepicker #pick></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Hora Inicio</mat-label>
                            <input matInput formControlName="hIni" type="time" placeholder="Hora Finalización">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Fecha Inicio</mat-label>
                            <input matInput formControlName="fFin" name="fFin" type="text" placeholder="Fecha Final" [matDatepicker]="pickf">
                            <mat-datepicker-toggle matSuffix [for]="pickf"></mat-datepicker-toggle>
                            <mat-datepicker #pickf></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Hora Fin</mat-label>
                            <input matInput formControlName="hFin" type="time" placeholder="Hora Finalización" (focus)="ponHora($event)">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <button (click)="removeFecha(i)" class="btn btn-danger" type="button">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                Materiales:

                <mat-select placeholder="Seleccione un Material" name="Material" #Material>
                  <mat-option *ngFor="let material of listaMateriales" [value]="material._id">
                    {{ material.descripcion }}
                  </mat-option>
                </mat-select>
                <p>
                  <button matTooltip="Agrega Material" mat-mini-fab class="btn btn-primary" (click)="addMaterial2(Material.value)" type="button">
                    <i class="fa fa-plus"></i>
                </button>
                </p>
                <div formArrayName="materiales">
                  <div *ngFor="let material of this.materiales.controls; let i=index">
                    <div [formGroupName]="i">
                      <div class="row">
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Cantidad</mat-label>
                            <input matInput formControlName="cantidad" type="text" placeholder="Cantidad">
                            <mat-error *ngIf="this.materiales.controls[i].get('cantidad').invalid">
                              <sup>*</sup>No hay stock suficiente
                            </mat-error>
                          </mat-form-field>

                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Descripcion</mat-label>
                            <input matInput formControlName="descripcion" type="text" placeholder="Descripcion">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Costo</mat-label>
                            <input matInput formControlName="costo" type="text" placeholder="Costo">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Precio</mat-label>
                            <input matInput formControlName="precio" type="text" placeholder="Precio">
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <button (click)="saveMaterial(i)" class="btn btn-primary"><i class="fa fa-save"></i></button>
                          <button (click)="removeMaterial(i)" class="btn btn-danger" type="button">
                            <i class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <button type="button" class="btn btn-primary btn-success waves-effect waves-light m-r-10" (click)="guardarRegistro()" [disabled]="regForm.pristine || regForm.invalid">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              <button type="button" class="btn btn-danger waves-effect waves-light" (click)="salir()">{{regresar_cerrar}}</button>
            </form>
          </div>
        </div>
      </mat-dialog-content>
      <div class="output">
        <p>Form Data: {{regForm.value | json}}</p>
        <p>Is Valid: {{regForm.valid}}</p>

        <p>Is Valid: {{materiales.controls[0]}}</p>
      </div>
    </div>
  </div>
</div>