<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="dataSource;else todos">
        <i class="fas fa-asterisk"> Todos ( {{dataSource.data.length}} )</i>
      </div>
      <ng-template #todos>
        <i class="fas fa-cube"> Todos ( 0 )</i>
      </ng-template>
    </ng-template>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-select [(value)]="navieraSeleccionada" [disabled]="blockNaviera"
                      (selectionChange)="cargarInventario()" [(ngModel)]="navieraSeleccionada"
                      placeholder="Seleccione una Naviera" name="viaje">
                      <mat-option>--- NINGUNO ---</mat-option>
                      <mat-option *ngFor="let naviera of navieras" [value]="naviera._id">
                        {{ naviera.nombreComercial }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <div class="text-right">
                    <button matTooltip="Ver Mapa" type="button" class="btn btn-primary m-r-5" [routerLink]="['/mapa/']">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>

                    </button>
                    <button (click)="exportAsXLSX(dataSource, 'Contenedores Disponibles')"
                      class="btn btn-success m-r-5">
                      <i class="fas fa-file-excel"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="card-title">Disponibles: ( <small>{{totalRegistros}}</small> )</h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSource, totalRegistros)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div>
            <br>
            <div class="example-container mat-elevation-z8">
              <mat-table class="mat-table-medium" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button matTooltip="Editar Disponible" (click)="openDetalleManiobra(row._id)"
                      class="btn btn-primary m-r-5">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fLlegada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dias">
                  <mat-header-cell *matHeaderCellDef>Dias/Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{calculaDias(row.fLlegada)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="viaje">
                  <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.viaje}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.buque?.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreComercial">
                  <mat-header-cell *matHeaderCellDef>Naviera</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.naviera?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fVigenciaTemporal">
                  <mat-header-cell *matHeaderCellDef>Vigencia Temporal</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.fVigenciaTemporal | date:'dd/MM/yyyy'}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pdfTemporal">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Temporal</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <a matTooltip="Descargar Inevntario PDF" *ngIf="row.viaje?.pdfTemporal"
                      [href]="row.viaje.pdfTemporal | imagen:'viaje'" target="_blank">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contenedor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Contenedor</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="peso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="grado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="200" [showFirstLastButtons]>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="../../../../assets/images/logo_reim_container_park.jpg" width=224 height=60>
          <h2 class="text-center" mat-header>STOCK GENERAL REIM CONTAINER PARK</h2>
          <h3 class="text-center">( {{obtenTotales("20") + obtenTotales("40")}} )</h3>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <h3 mat-line><b>TOTAL</b> Contenedores 20" ( {{obtenTotales("20")}} )</h3>
      <mat-list-item *ngFor="let g20 of groupedDisponibles20">
        <h4 mat-line><b>Contenedores {{g20.tipo}}: ( {{obtenSubTotales(g20.tipo, g20.maniobras)}} )</b>
        </h4>
        <p matLine> <span><i class="fas fa-caret-right"> {{cuentaInventario('A', 'DISPONIBLE', g20.maniobras)}} | 'A' |
              DISPONIBLES</i></span></p>
        <p matLine> <span><i class="fas fa-caret-right"> {{cuentaInventario('B', 'DISPONIBLE', g20.maniobras)}} | 'B' |
              DISPONIBLES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaInventario('C', 'DISPONIBLE', g20.maniobras)}} | 'C' |
              DISPONIBLES</i></span></p>

        <div mat-line>
          <h6><b>TOTAL DISPONIBLES {{cuentaInventario('', 'DISPONIBLE', g20.maniobras)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <mat-divider></mat-divider>

        <p *ngIf="dataSourceL" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('A', g20.tipo, dataSourceL.data)}} | 'A' | MANTENIMIENTOS LAVADO</i></span></p>
        <p *ngIf="dataSourceL" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('B', g20.tipo, dataSourceL.data)}} | 'B' | MANTENIMIENTOS LAVADO</i></span></p>
        <p *ngIf="dataSourceL" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('C', g20.tipo, dataSourceL.data)}} | 'C' | MANTENIMIENTOS LAVADO</i></span></p>
        <!-- <p *ngIf="dataSourceL" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('PT', g20.tipo, dataSourceL.data)}} | 'PT' | PERDIDA TOTAL</i></span></p> -->

        <div *ngIf="dataSourceL" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS LAVADO {{cuentaManiobrasMant('', g20.tipo, dataSourceL.data)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <p *ngIf="dataSourceR" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('A', g20.tipo, dataSourceR.data)}} | 'A' | MANTENIMIENTOS REPARACION</i></span></p>
        <p *ngIf="dataSourceR" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('B', g20.tipo, dataSourceR.data)}} | 'B' | MANTENIMIENTOS REPARACION</i></span></p>
        <p *ngIf="dataSourceR" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('C', g20.tipo, dataSourceR.data)}} | 'C' | MANTENIMIENTOS REPARACION</i></span></p>
        <p *ngIf="dataSourceR" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('PT', g20.tipo, dataSourceR.data)}} | 'PT' | PERDIDA TOTAL</i></span></p>

        <div *ngIf="dataSourceR" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS REPARACION {{cuentaManiobrasMant('', g20.tipo, dataSourceR.data)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <p *ngIf="dataSourceA" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('A', g20.tipo, dataSourceA.data)}} | 'A' | MANTENIMIENTOS
              ACONDICIONAMIENTO</i></span></p>
        <p *ngIf="dataSourceA" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('B', g20.tipo, dataSourceA.data)}} | 'B' | MANTENIMIENTOS
              ACONDICIONAMIENTO</i></span></p>
        <p *ngIf="dataSourceA" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('C', g20.tipo, dataSourceA.data)}} | 'C' | MANTENIMIENTOS
              ACONDICIONAMIENTO</i></span></p>
        <!-- <p *ngIf="dataSourceA" matLine><span><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('PT', g20.tipo, dataSourceA.data)}} | 'PT' | PERDIDA TOTAL</i></span></p> -->

        <div *ngIf="dataSourceA" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS ACONDICIONAMIENTO {{cuentaManiobrasMant('', g20.tipo, dataSourceA.data)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

      </mat-list-item>
      <mat-divider></mat-divider><br>
    </mat-list>
    <mat-list>
      <h3 mat-line><b>TOTAL</b> Contenedores 40" ( {{obtenTotales('40')}} )</h3>
      <mat-list-item *ngFor="let g40 of groupedDisponibles40">
        <h4 mat-line><b>Contenedores {{g40.tipo}}: ( {{obtenSubTotales(g40.tipo, g40.maniobras)}} )</b>
        </h4>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaInventario('A', 'DISPONIBLE', g40.maniobras)}} | 'A' |
              DISPONIBLES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaInventario('B', 'DISPONIBLE', g40.maniobras)}} | 'B' |
              DISPONIBLES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaInventario('C', 'DISPONIBLE', g40.maniobras)}} | 'C' |
              DISPONIBLES</i></span></p>

        <div mat-line>
          <h6><b>TOTAL DISPONIBLES {{cuentaInventario('', 'DISPONIBLE', g40.maniobras)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>
        <mat-divider></mat-divider>

        <p matLine><span *ngIf="dataSourceL"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('A', g40.tipo, dataSourceL.data)}} | 'A' | MANTENIMIENTOS LAVADO</i></span></p>
        <p matLine><span *ngIf="dataSourceL"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('B', g40.tipo, dataSourceL.data)}} | 'B' | MANTENIMIENTOS LAVADO</i></span></p>
        <p matLine><span *ngIf="dataSourceL"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('C', g40.tipo, dataSourceL.data)}} | 'C' | MANTENIMIENTOS LAVADO</i></span></p>
        <!-- <p matLine><span *ngIf="dataSourceL"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('PT', g40.tipo, dataSourceL.data)}} | 'PT' | PERDIDA TOTAL</i></span></p> -->

        <div *ngIf="dataSourceL" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS LAVADO {{cuentaManiobrasMant('', g40.tipo, dataSourceL.data)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <p matLine><span *ngIf="dataSourceR"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('A', g40.tipo, dataSourceR.data)}} | 'A' | MANTENIMIENTOS REPARACION</i></span></p>
        <p matLine><span *ngIf="dataSourceR"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('B', g40.tipo, dataSourceR.data)}} | 'B' | MANTENIMIENTOS REPARACION</i></span></p>
        <p matLine><span *ngIf="dataSourceR"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('C', g40.tipo, dataSourceR.data)}} | 'C' | MANTENIMIENTOS REPARACION</i></span></p>
        <p matLine><span *ngIf="dataSourceR"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('PT', g40.tipo, dataSourceR.data)}} | 'PT' | PERDIDA TOTAL</i></span></p>

        <div *ngIf="dataSourceR" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS REPARACION {{cuentaManiobrasMant('', g40.tipo, dataSourceR.data)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <p matLine><span *ngIf="dataSourceA"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('A', g40.tipo, dataSourceA.data)}} | 'A' | MANTENIMIENTOS
              ACONDICIONAMIENTO</i></span></p>
        <p matLine><span *ngIf="dataSourceA"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('B', g40.tipo, dataSourceA.data)}} | 'B' | MANTENIMIENTOS
              ACONDICIONAMIENTO</i></span></p>
        <p matLine><span *ngIf="dataSourceA"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('C', g40.tipo, dataSourceA.data)}} | 'C' | MANTENIMIENTOS
              ACONDICIONAMIENTO</i></span></p>
        <!-- <p matLine><span *ngIf="dataSourceA"><i class="fas fa-caret-right">
              {{cuentaManiobrasMant('PT', g40.tipo, dataSourceA.data)}} | 'PT' | PERDIDA TOTAL</i></span></p> -->

        <div *ngIf="dataSourceA" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS ACONDICIONAMIENTO {{cuentaManiobrasMant('', g40.tipo, dataSourceA.data)}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <mat-divider></mat-divider><br>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="c20;else sincont20">
        <i class="fas fa-cube"> 20' ( {{c20.length}} )</i>
      </div>
      <ng-template #sincont20>
        <i class="fas fa-cube"> Contenedores 20' ( 0 )</i>
      </ng-template>
    </ng-template>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <mat-accordion [multi]="true" #firstAccordion="matAccordion">
              <div *ngFor="let g of groupedDisponibles20"><br>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contenedores {{g.tipo}}: ( {{g.maniobras.length}} )
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <h3 class="card-title"> Contenedores {{g.tipo}} : ( <small>{{g.maniobras.length}}</small> )
                  </h3>
                  <div class="example-container mat-elevation-z8">
                    <mat-table class="mat-table-medium" [dataSource]="g.maniobras" matSort>

                      <ng-container matColumnDef="fLlegada">
                        <mat-header-cell *matHeaderCellDef>Entrada Patio</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}}
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="dias">
                        <mat-header-cell *matHeaderCellDef>Dias/Patio</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{calculaDias(row.fLlegada)}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{g.maniobras.length}} </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="viaje">
                        <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje?.viaje}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje?.buque?.nombre}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="nombreComercial">
                        <mat-header-cell *matHeaderCellDef>Naviera</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.naviera?.nombreComercial}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="fVigenciaTemporal">
                        <mat-header-cell *matHeaderCellDef>Vigencia Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.viaje?.fVigenciaTemporal | date:'dd/MM/yyyy'}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="pdfTemporal">
                        <mat-header-cell *matHeaderCellDef>Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <a matTooltip="Descargar Inevntario PDF" *ngIf="row.viaje?.pdfTemporal"
                            [href]="row.viaje.pdfTemporal | imagen:'viaje'" target="_blank">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                          </a>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="contenedor">
                        <mat-header-cell *matHeaderCellDef>Contenedor</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="tipo">
                        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="peso">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="grado">
                        <mat-header-cell *matHeaderCellDef>Grado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumnsGroups" class="encabezado">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumnsGroups;"></mat-row>
                      <mat-footer-row *matFooterRowDef="displayedColumnsGroups; sticky: true"></mat-footer-row>
                    </mat-table>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="c40;else sincont40">
        <i class="fas fa-cube"> 40' ( {{c40.length}} )</i>
      </div>
      <ng-template #sincont40>
        <i class="fas fa-cube"> Contenedores 40' ( 0 )</i>
      </ng-template>
    </ng-template>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <mat-accordion [multi]="true" #secondAccordion="matAccordion">
              <div *ngFor="let g of groupedDisponibles40"><br>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contenedores {{g.tipo}}: ( {{g.maniobras.length}} )
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                      Total: ( <small>{{g.maniobras.length}}</small> )
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <h3 class="card-title"> Contenedores {{g.tipo}} : ( <small>{{g.maniobras.length}}</small> )
                  </h3>
                  <div class="example-container mat-elevation-z8">
                    <mat-table class="mat-table-medium" [dataSource]="g.maniobras" matSort>

                      <ng-container matColumnDef="fLlegada">
                        <mat-header-cell *matHeaderCellDef>Entrada Patio</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}}
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="dias">
                        <mat-header-cell *matHeaderCellDef>Dias/Patio</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{calculaDias(row.fLlegada)}}</mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{g.maniobras.length}} </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="viaje">
                        <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje?.viaje}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje?.buque?.nombre}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="nombreComercial">
                        <mat-header-cell *matHeaderCellDef>Naviera</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.naviera?.nombreComercial}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="fVigenciaTemporal">
                        <mat-header-cell *matHeaderCellDef>Vigencia Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.viaje?.fVigenciaTemporal | date:'dd/MM/yyyy'}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="pdfTemporal">
                        <mat-header-cell *matHeaderCellDef>Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <a matTooltip="Descargar Inevntario PDF" *ngIf="row.viaje?.pdfTemporal"
                            [href]="row.viaje.pdfTemporal | imagen:'viaje'" target="_blank">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                          </a>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="contenedor">
                        <mat-header-cell *matHeaderCellDef>Contenedor</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="tipo">
                        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="peso">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="grado">
                        <mat-header-cell *matHeaderCellDef>Grado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumnsGroups" class="encabezado">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumnsGroups;"></mat-row>
                      <mat-footer-row *matFooterRowDef="displayedColumnsGroups; sticky: true"></mat-footer-row>
                    </mat-table>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="totalRegistrosM > 0;else sincontL">
        <i class="fas fa-wrench"> Mantenimientos ( {{totalRegistrosM}} )</i>
      </div>
      <ng-template #sincontL>
        <i class="fas fa-wrench"> Mantenimientos ( 0 )</i>
      </ng-template>
    </ng-template>
    <br>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-right">
              <button (click)="exportAsXLSXMantenimientos(dataSourceM, 'Contenedores en Mantenimiento')"
                class="btn btn-success m-r-5">
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
            <h3 class="card-title">Contenedores en Mantenimiento : (
              <small>{{totalRegistrosM}}</small> )
            </h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSourceM, totalRegistrosM)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div>
            <br>

            <div class="example-container mat-elevation-z8">
              <mat-table class="mat-table-medium" #MatSort4="matSort" [dataSource]="dataSourceM" matSort>
                <ng-container matColumnDef="lavado">
                  <mat-header-cell *matHeaderCellDef>Lavado </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button *ngIf="row.lavado" matTooltip="Ir a Lavado" (click)="openMantenimiento(row.lavado)"
                      class="btn btn-primary m-r-5">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="reparacion">
                  <mat-header-cell *matHeaderCellDef>Reparacion </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button *ngIf="row.reparacion" matTooltip="Ir a Reparacion"
                      (click)="openMantenimiento(row.reparacion)" class="btn btn-primary m-r-5">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acondicionamiento">
                  <mat-header-cell *matHeaderCellDef>Acondicio </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button *ngIf="row.acondicionamiento" matTooltip="Ir a Acondicionamiento"
                      (click)="openMantenimiento(row.acondicionamiento)" class="btn btn-primary m-r-5">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fLlegada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.fLlegada | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dias">
                  <mat-header-cell *matHeaderCellDef>Dias/Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{calculaDias(row.maniobra?.fLlegada)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="viaje">
                  <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.viaje?.viaje}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.viaje?.buque?.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreComercial">
                  <mat-header-cell *matHeaderCellDef>Naviera</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.viaje?.naviera?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contenedor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Contenedor</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.contenedor}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.tipo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="peso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.peso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.cliente?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agencia">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.agencia?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="grado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.maniobra?.grado}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsM" class="encabezado">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsM;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="200" [showFirstLastButtons]>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-list>
      <h3 *ngIf="dataSourceL && dataSourceR && dataSourceA" mat-line><b>Resumen de Mantenimientos</b> ( {{dataSourceL.data.length + dataSourceR.data.length +
        dataSourceA.data.length }} )</h3>
      <mat-list-item>
        <div *ngIf="dataSourceL" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS LAVADO {{dataSourceL.data.length}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <div *ngIf="dataSourceR" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS REPARACION {{dataSourceR.data.length}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

        <div *ngIf="dataSourceA" mat-line>
          <h6><b>TOTAL MANTENIMIENTOS ACONDICIONAMIENTO {{dataSourceA.data.length}}</b></h6>
        </div>
        <div mat-line>&nbsp;</div>

      </mat-list-item>
      <mat-divider></mat-divider><br>
    </mat-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="totalRegistrosL > 0;else sincontL">
        <i class="fas fa-tint"> Lavado ( {{totalRegistrosL}} )</i>
      </div>
      <ng-template #sincontL>
        <i class="fas fa-toolbox"> Lavado ( 0 )</i>
      </ng-template>
    </ng-template>
    <br>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-right">
              <button (click)="exportAsXLSX(dataSourceL, 'Contenedores en Lavado')" class="btn btn-success m-r-5">
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
            <h3 class="card-title">Contenedores en Lavado : (
              <small>{{totalRegistrosL}}</small> )
            </h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSourceL, totalRegistrosL)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div>
            <br>

            <div class="example-container mat-elevation-z8">
              <mat-table class="mat-table-big" #MatSort2="matSort" [dataSource]="dataSourceL" matSort>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button matTooltip="Editar Lavado" (click)="open(row._id)" class="btn btn-primary m-r-5">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fLlegada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dias">
                  <mat-header-cell *matHeaderCellDef>Dias/Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{calculaDias(row.fLlegada)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="viaje">
                  <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.viaje}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.buque?.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreComercial">
                  <mat-header-cell *matHeaderCellDef>Naviera</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.naviera?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contenedor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Contenedor</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="peso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.cliente?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agencia">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.agencia?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lavado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Lavado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.lavado}}
                  </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="reparaciones">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Reparaciones</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-select *ngIf="row.reparaciones.length > 0 " class="form-control"
                      [(ngModel)]=" row.reparaciones" name="reparacio">
                      <mat-option *ngFor="let rep of row.reparaciones" [value]="row.reparaciones">
                        {{rep.reparacion}}
                      </mat-option>
                    </mat-select>
                  </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="grado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsL" class="encabezado">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsL;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="200" [showFirstLastButtons]>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="totalRegistrosR > 0;else sincontL">
        <i class="fas fa-wrench"> Reparación ( {{totalRegistrosR}} )</i>
      </div>
      <ng-template #sincontL>
        <i class="fas fa-toolbox"> Reparación ( 0 )</i>
      </ng-template>
    </ng-template>
    <br>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-right">
              <button (click)="exportAsXLSX(dataSourceR, 'Contenedores en Reparación')" class="btn btn-success m-r-5">
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
            <h3 class="card-title">Contenedores en Reparación : (
              <small>{{totalRegistrosR}}</small> )
            </h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSourceR, totalRegistrosR)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div>
            <br>

            <div class="example-container mat-elevation-z8">
              <mat-table class="mat-table-big" #MatSort3="matSort" [dataSource]="dataSourceR" matSort>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button matTooltip="Editar Reparación" (click)="open(row._id)" class="btn btn-primary m-r-5">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fLlegada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dias">
                  <mat-header-cell *matHeaderCellDef>Dias/Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{calculaDias(row.fLlegada)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="viaje">
                  <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.viaje}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje?.buque?.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreComercial">
                  <mat-header-cell *matHeaderCellDef>Naviera</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.naviera?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contenedor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Contenedor</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="peso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.cliente?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agencia">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.agencia?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lavado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Lavado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.lavado}}
                  </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="reparaciones">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Reparaciones</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-select *ngIf="row.reparaciones.length > 0 " class="form-control"
                      [(ngModel)]=" row.reparaciones" name="reparacio">
                      <mat-option *ngFor="let rep of row.reparaciones" [value]="row.reparaciones">
                        {{rep.reparacion}}
                      </mat-option>
                    </mat-select>
                  </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="grado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsR" class="encabezado">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsR;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="200" [showFirstLastButtons]>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>