<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="dataSource;else todos">
        <i class="fas fa-asterisk"> Todos ( {{dataSource.data.length}} )</i>
      </div>
      <ng-template #todos>
        <i class="fas fa-cube"> Todos ( 0 )</i>
      </ng-template>
    </ng-template>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-right">
              <button (click)="exportAsXLSX(dataSource, 'Contenedores Disponibles')" class="btn btn-success m-r-5">
                <i class="fas fa-file-excel"></i> Exportar Excel
              </button>
            </div>
            <h3 class="card-title">Disponibles: ( <small>{{totalRegistros}}</small> )</h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSource, totalRegistros)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div>
            <br>
            <div class="example-container mat-elevation-z8">
              <mat-table class="mat-table" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="fLlegada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="viaje">
                  <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje.viaje}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje.buque.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fVigenciaTemporal">
                  <mat-header-cell *matHeaderCellDef>Vigencia Temporal</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje.fVigenciaTemporal | date:'dd/MM/yyyy'}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pdfTemporal">
                  <mat-header-cell *matHeaderCellDef>Temporal</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <a *ngIf="row.viaje.pdfTemporal" [href]="row.viaje.pdfTemporal | imagen:'viaje'" target="_blank">
                      <img src="\assets\images\icon\pdf_32x32.png">
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contenedor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Contenedor</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="peso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="grado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[50, 100, 200]" [pageSize]="200" [showFirstLastButtons]>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="../../../../assets/images/logo_reim_container_park.jpg" width=224 height=60>
          <h2 class="text-center" mat-header>STOCK GENERAL REIM CONTAINER PARK</h2>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <h3 mat-line><b>TOTAL</b> Contenedores 20" ( {{obtenTotales("20")}} )</h3>
      <mat-list-item *ngFor="let g20 of groupedDisponibles20">
        <h4 mat-line><b>Contenedores {{g20.tipo}}: ( {{obtenSubTotales(g20.tipo, g20.maniobras, dataSourceLR)}} )</b>
        </h4>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaInventario('A', 'DISPONIBLE', g20.maniobras)}} |
              'A' | DISPONIBLES</i></span></p>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaInventario('B', 'DISPONIBLE', g20.maniobras)}} |
              'B' | DISPONIBLES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaInventario('C', 'DISPONIBLE', g20.maniobras)}} |
              'C' | DISPONIBLES</i></span></p>
        <mat-divider></mat-divider>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaReparaciones('A', g20.tipo, dataSourceLR.data)}} |
              'A' | REPARACIONES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaReparaciones('B', g20.tipo, dataSourceLR.data)}} |
              'B' | REPARACIONES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaReparaciones('C', g20.tipo, dataSourceLR.data)}} |
              'C' | REPARACIONES</i></span></p>
        <p matLine><span><i class="fas fa-caret-right"> {{cuentaReparaciones('PT', g20.tipo, dataSourceLR.data)}}
              | 'PT' | PERDIDA TOTAL</i></span></p>
      </mat-list-item>
      <mat-divider></mat-divider><br>
    </mat-list>
    <mat-list>
      <h3 mat-line><b>TOTAL</b> Contenedores 40" ( {{obtenTotales('40')}} )</h3>
      <mat-list-item *ngFor="let g40 of groupedDisponibles40">
        <h4 mat-line><b>Contenedores {{g40.tipo}}: ( {{obtenSubTotales(g40.tipo, g40.maniobras, dataSourceLR)}} )</b>
        </h4>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaInventario('A', 'DISPONIBLE', g40.maniobras)}} | 'A' |
              DISPONIBLES</i></span></p>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaInventario('B', 'DISPONIBLE', g40.maniobras)}} |
              'B' | DISPONIBLES</i></span></p>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaInventario('C', 'DISPONIBLE', g40.maniobras)}} |
              'C' | DISPONIBLES</i></span></p>
        <mat-divider></mat-divider>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaReparaciones('A', g40.tipo, dataSourceLR.data)}} |
              'A' | REPARACIONES</i></span></p>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaReparaciones('B', g40.tipo, dataSourceLR.data)}} |
              'B' | REPARACIONES</i></span></p>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaReparaciones('C', g40.tipo, dataSourceLR.data)}} |
              'C' | REPARACIONES</i></span></p>
        <p matLine>
          <span><i class="fas fa-caret-right"> {{cuentaReparaciones('PT', g40.tipo, dataSourceLR.data)}}
              | 'PT' | PERDIDA TOTAL</i></span></p>
        <mat-divider></mat-divider><br>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="c20;else sincont20">
        <i class="fas fa-cube"> 20' ( {{c20.length}} )</i>
      </div>
      <ng-template #sincont20>
        <i class="fas fa-cube"> Contenedores 20' ( 0 )</i>
      </ng-template>
    </ng-template>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- <div class="text-right">
            </div> -->
            <!-- <h3 class="card-title">Disponibles: ( <small>{{totalRegistros20}}</small> )</h3> -->
            <!-- <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSource20, totalRegistros20)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div> -->
            <mat-accordion [multi]="true" #firstAccordion="matAccordion">
              <div *ngFor="let g of groupedDisponibles20"><br>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contenedores {{g.tipo}}: ( {{g.maniobras.length}} )
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                     Total: ( <small>{{g.maniobras.length}}</small> )
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <h3 class="card-title"> Contenedores {{g.tipo}} : ( <small>{{g.maniobras.length}}</small> )
                  </h3>
                  <div class="example-container mat-elevation-z8">
                    <mat-table class="mat-table" [dataSource]="g.maniobras" matSort>

                      <ng-container matColumnDef="fLlegada">
                        <mat-header-cell *matHeaderCellDef>Entrada Patio</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}}
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="viaje">
                        <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje.viaje}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{g.maniobras.length}} </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje.buque.nombre}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="fVigenciaTemporal">
                        <mat-header-cell *matHeaderCellDef>Vigencia Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.viaje.fVigenciaTemporal | date:'dd/MM/yyyy'}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="pdfTemporal">
                        <mat-header-cell *matHeaderCellDef>Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <a *ngIf="row.viaje.pdfTemporal" [href]="row.viaje.pdfTemporal | imagen:'viaje'"
                            target="_blank">
                            <img src="\assets\images\icon\pdf_32x32.png">
                          </a>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="contenedor">
                        <mat-header-cell *matHeaderCellDef>Contenedor</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="tipo">
                        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="peso">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="grado">
                        <mat-header-cell *matHeaderCellDef>Grado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
                    </mat-table>
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
                    </mat-paginator> -->
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="c40;else sincont40">
        <i class="fas fa-cube"> 40' ( {{c40.length}} )</i>
      </div>
      <ng-template #sincont40>
        <i class="fas fa-cube"> Contenedores 40' ( 0 )</i>
      </ng-template>
    </ng-template>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- <div class="text-right">
            </div>
            <h3 class="card-title">Disponibles: ( <small>{{totalRegistros40}}</small> )</h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSource40, totalRegistros40)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div> -->
            <mat-accordion [multi]="true" #secondAccordion="matAccordion">
              <div *ngFor="let g of groupedDisponibles40"><br>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Contenedores {{g.tipo}}: ( {{g.maniobras.length}} )
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                      Total: ( <small>{{g.maniobras.length}}</small> )
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <h3 class="card-title"> Contenedores {{g.tipo}} : ( <small>{{g.maniobras.length}}</small> )
                  </h3>
                  <div class="example-container mat-elevation-z8">
                    <mat-table class="mat-table" [dataSource]="g.maniobras" matSort>

                      <ng-container matColumnDef="fLlegada">
                        <mat-header-cell *matHeaderCellDef>Entrada Patio</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}}
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="viaje">
                        <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje.viaje}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> {{g.maniobras.length}} </mat-footer-cell>>
                      </ng-container>

                      <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.viaje.buque.nombre}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="fVigenciaTemporal">
                        <mat-header-cell *matHeaderCellDef>Vigencia Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          {{row.viaje.fVigenciaTemporal | date:'dd/MM/yyyy'}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="pdfTemporal">
                        <mat-header-cell *matHeaderCellDef>Temporal</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <a *ngIf="row.viaje.pdfTemporal" [href]="row.viaje.pdfTemporal | imagen:'viaje'"
                            target="_blank">
                            <img src="\assets\images\icon\pdf_32x32.png">
                          </a>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="contenedor">
                        <mat-header-cell *matHeaderCellDef>Contenedor</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="tipo">
                        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="peso">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <ng-container matColumnDef="grado">
                        <mat-header-cell *matHeaderCellDef>Grado</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
                    </mat-table>
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
                    </mat-paginator> -->
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div *ngIf="totalRegistrosLR > 0;else sincontLR">
        <i class="fas fa-tint"> Lavado-Reparacion ( {{totalRegistrosLR}} )</i>
      </div>
      <ng-template #sincontLR>
        <i class="fas fa-toolbox"> Lavado - Reparacion ( 0 )</i>
      </ng-template>
    </ng-template>
    <br>
    <div class="animated fadeIn" *ngIf="!cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="text-right">
              <button (click)="exportAsXLSX(dataSourceLR, 'Contenedores en Lavado - Reparacion')"
                class="btn btn-success m-r-5">
                <i class="fas fa-file-excel"></i> Exportar Excel
              </button>
            </div>
            <h3 class="card-title">Contenedores en Lavado Reparación : (
              <small>{{totalRegistrosLR}}</small> )</h3>
            <div class="example-header mat-elevation-z8">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, dataSourceLR, totalRegistrosLR)"
                  placeholder="Escriba algo para filtrar">
              </mat-form-field>
            </div>
            <br>

            <div class="example-container mat-elevation-z8">
              <mat-table class="mat-table-medium" #MatSort2="matSort" [dataSource]="dataSourceLR" matSort>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button [routerLink]="['/maniobras/maniobra/',row._id, 'termina_lavado_reparacion']"
                      class="btn btn-primary m-r-5">
                      <i class="fa fa-edit"></i>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fLlegada">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Entrada Patio</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fLlegada | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="viaje">
                  <mat-header-cell *matHeaderCellDef>Viaje</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje.viaje}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef>Buque</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.viaje.buque.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contenedor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>contenedor</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="peso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>peso</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.peso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>cliente</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.cliente?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agencia">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.agencia?.nombreComercial}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lavado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Lavado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.lavado}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="reparaciones">
                  <mat-header-cell *matHeaderCellDef>Reparaciones</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <br>
                    <p *ngFor="let rep of row.reparaciones">
                      {{rep.reparacion}}
                    </p><br><br>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="grado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Grado</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsLR" class="encabezado">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsLR;"></mat-row>
              </mat-table>
              <mat-paginator #MatPaginatorLR [pageSizeOptions]="[50, 100, 200]" [pageSize]="100" [showFirstLastButtons]>
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>