<div class="row animated fadeIn">

    <div class="col-md-9">
        <mat-card>
            <!--<h3 class="box-title m-b-0">Maniobra: {{ maniobra.entrada }}</h3>-->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarManiobra(f)">
                        <div class="my-container">
                            <h3>Datos de la maniobra</h3>
                            <div class="my-container2">
                                <mat-form-field class="time">
                                    <input matInput [(ngModel)]="maniobra.entrada" name="entrada" type="time" placeholder="Entrada requerida" required>
                                </mat-form-field>
                                <mat-form-field class="time">
                                    <input matInput [(ngModel)]="maniobra.inicio" name="inicio" type="time" placeholder="Inicio">
                                </mat-form-field>
                                <mat-form-field class="time">
                                    <input matInput [(ngModel)]="maniobra.fin" name="fin" type="time" placeholder="Fin">
                                </mat-form-field>
                                <mat-form-field class="time">
                                    <input matInput [(ngModel)]="maniobra.salida" name="salida" type="time" placeholder="Salida">
                                </mat-form-field>
                            </div>
                            <div class="my-container3">
                                <!--========Combombox Operador=========-->
                                <mat-form-field class="operador">
                                    <mat-select placeholder="Seleccione un Operador" (selectionChange)="cambioOperador( $event.value )" [(ngModel)]="maniobra.operador" name="operador" required>
                                        <mat-option *ngFor="let operador of operadores" [value]="operador._id">
                                            <span>{{ operador.operador }}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!--========Combombox Tracto=========-->
                                <!--<mat-form-field class="input">
                                    <input matInput placeholder="Numero del viaje" [(ngModel)]="viaje.viaje" name="viaje" required>
                                </mat-form-field>-->


                                <!--<mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Numero del viaje" matInput (selectionChange)="cambioViaje( $event.value )" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let viaje of viajes" [value]="viaje._id">
                                            {{viaje.viaje}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>-->
                                <mat-form-field class="input">
                                    <mat-select placeholder="Tracto" (selectionChange)="cambioCamion( $event.value )" [(ngModel)]="maniobra.camion" name="camion" required>
                                        <mat-option *ngFor="let camion of camiones" [value]="camion._id">
                                            {{ camion.numbereconomico }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="input">
                                    <input disabled matInput value="{{ camion.placa }}" name="placa" type="text" placeholder="Placas requerida" required>
                                </mat-form-field>
                                <mat-form-field class="input">
                                    <input disabled matInput value="{{camion.transportista.nombre}}" name="nombre" type="text" placeholder="Transportista requerida" required>
                                </mat-form-field>
                            </div>
                            <div class="my-container4">
                                <mat-form-field>
                                    <mat-select placeholder="Numero del viaje" (selectionChange)="cambioViaje( $event.value )" [(ngModel)]="maniobra.viaje" name="viaje" required>
                                        <mat-option *ngFor="let viaje of viajes" [value]="viaje._id">
                                            {{ viaje.viaje }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!--========Combombox Contenedor=========-->
                                <mat-form-field>
                                    <mat-select placeholder="Seleccione un contenedor" [(ngModel)]="maniobra.contenedor" name="contenedor" required>
                                        <mat-option *ngFor="let viajec of viaje.contenedores" [value]="viajec.contenedor._id">
                                            <span>{{ viajec.contenedor.contenedor }}</span>
                                            <span> | Tipo: {{viajec.contenedor.tipo}}</span>
                                            <span> | {{ viajec.vacioimportacion }}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="my-container4">
                                <!--========Combombox agencia=========-->
                                <mat-form-field>
                                    <mat-select placeholder="Seleccione una agencia" (selectionChange)="cambioAgencia( $event.value )" [(ngModel)]="maniobra.agencia" name="agencia" required>
                                        <mat-option *ngFor="let agencia of agencias" [value]="agencia._id">
                                            {{ agencia.cliente }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!--========Combombox Cliente=========-->
                                <mat-form-field>
                                    <mat-select placeholder="Seleccione un cliente" (selectionChange)="cambioCliente( $event.value )" [(ngModel)]="maniobra.cliente" name="cliente" required>
                                        <mat-option *ngFor="let cliente of clientes" [value]="cliente._id">
                                            {{ cliente.cliente }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="my-container4">
                                <!--========Combombox Transporte=========-->
                                <mat-form-field>
                                    <mat-select placeholder="Seleccione un tipo de transporte" [(ngModel)]="maniobra.transporte" name="transporte" required>
                                        <mat-option value="Carga">Carga</mat-option>
                                        <mat-option value="Descarga">Descarga</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!--<mat-form-field>
                                    <input matInput [(ngModel)]="maniobra.lavado" name="lavado" type="text" placeholder="Lavado requerida" required>
                                </mat-form-field>-->
                                <mat-form-field>
                                    <mat-select placeholder="Requiere Lavado?" [(ngModel)]="maniobra.lavado" name="lavado">
                                        <mat-option value="SI">SI</mat-option>
                                        <mat-option value="NO">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="my-container4">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="maniobra.rep" name="rep" type="text" placeholder="Reparación Requerida?" required>
                                </mat-form-field>
                                <!--========Combombox Transporte=========-->
                                <mat-form-field>
                                    <mat-select placeholder="Grado" [(ngModel)]="maniobra.grado" name="grado">
                                        <mat-option value="A">A</mat-option>
                                        <mat-option value="B">B</mat-option>
                                        <mat-option value="C">C</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a routerLink="/maniobras" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card>
            <h4 class="box-title m-b-0">Fotografia del Operador</h4>

            <img [src]="operador.img | imagen:'operador'" class="rounded img-fluid">

            <h4 class="box-title m-b-0">Datos de la agencia</h4>
            <h3 class="box-title m-b-0">RFC: {{ agencia.rfc }}</h3>
            <h3 class="box-title m-b-0">Patente: {{ agencia.patente }}</h3>
            <h4 class="box-title m-b-0">Datos de la transportista</h4>
        </mat-card>
    </div>

</div>