.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:20px;
	right:20px;
	background-color: #002C77;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:18px;
}