<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0" *ngIf="reparacion">Reparacion: {{ reparacion.descripcion }}</h3><br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form [formGroup]="regForm" (ngSubmit)="guardarReparacion()" novalidate>
            <mat-form-field>
              <input matInput formControlName="descripcion" name="descripcion" type="text" placeholder="Descripcion de la reparación *">
              <mat-error *ngIf="descripcion.touched && descripcion.invalid">
                <sup>*</sup>Por Favor Ingrese la Descripcion
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="costo" name="costo" type="text" placeholder="Costo de la reparación *">
              <mat-error *ngIf="costo.touched && costo.invalid">
                <sup>*</sup>Por Favor Ingrese el Costo
              </mat-error>
            </mat-form-field>

            <button type="submit" class="btn btn-primary btn-success waves-effect waves-light m-r-10 " [disabled]="regForm.pristine || regForm.invalid ">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="back()" (click)="open()"> Regresar</button>
            <!-- <a routerLink="/reparaciones" class="btn btn-danger waves-effect waves-light">Regresar</a> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>