<mat-tab-group>
    <mat-tab label="Fotos Lavados">
            <div class="container">
                <div class="row">
                    <div *ngFor="let item of items">
                        <div class="thumbnail">
                          <a href="{{item.ruta}}" target="_blank">
                            <img src="{{item.ruta}}" alt="Lights" style="width:100%">
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div *ngFor="let item of items" class="carousel-item {{item.estado}}" >
                        <img src="{{item.ruta}}" class="d-block w-100" alt="..." height="650px">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div> -->
        <!-- <div class="card-columns">
            <div class="card" *ngFor="let foto of maniobra.imgl">
                <img class="card-img-top" [src]="foto.img | imagen:'fotos_lavado'" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{foto._id}}</h5>
                    <button (click)="borrarFotoLavado( maniobra._id, foto.img )" class="btn btn-danger">
                        <i class="fa fa-trash-o"> Eliminar</i>
                      </button>
                </div>
            </div>
        </div> -->
    </mat-tab>
    
    <mat-tab label="Fotos Repararación">
        <div class="container">
                <div class="row">
                    <div *ngFor="let item of items">
                        <div class="thumbnail">
                            <a href="{{item.ruta}}" target="_blank">
                            <img src="{{item.ruta}}" alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- <div class="card-columns">
            <div class="card" *ngFor="let foto of maniobra.imgr">
                <img class="card-img-top" [src]="foto.img | imagen:'fotos_reparacion'" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{foto.img}}</h5>
                    <button (click)="borrarFotoReparado( maniobra._id, foto.img )" class="btn btn-danger">
                        <i class="fa fa-trash-o"> Eliminar</i>
                      </button>
                </div>
            </div>
        </div> -->
    </mat-tab>

    <mat-tab label="Carga">
        <div class="row">
            <div class="col-md-4">
                <h3>Seleccione archivos</h3>
                <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
                    <h4>Deje caer aqui los archivos</h4>
                    <img src="assets/images/drop-images.png">
                </div>
                <input class="hidden" (change)="seleccionImagen($event.target.files[0])" type="file" multiple />
            </div>
            <div class="col-md-8">
                <h4>Cargar archivos</h4>
                <!--========Combombox Transporte=========-->
                <mat-form-field>
                    <mat-select [(value)]="selected" placeholder="Tipo de fotos" name="fotos">
                        <mat-option value="fotos_lavado">Lavado</mat-option>
                        <mat-option value="fotos_reparacion">Reparación</mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="cargarImagenes()" class="btn btn-success">Cargar fotos</button>
                <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre archivo</th>
                            <th>Tamaño</th>
                            <th>Progreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let archivo of archivos">
                            <th>{{archivo.nombreArchivo}}</th>
                            <th>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</th>
                            <th>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>