<button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
<mat-tab-group (selectedTabChange)="onLinkClick($event)" mat-stretch-tabs>
  <mat-tab label="lavado">
    <ng-template mat-tab-label>
      <div *ngIf="galleryImagesL;else imagesL">
        <i class="fas fa-camera-retro"> Lavados ({{galleryImagesL.length}})</i>
      </div>
      <ng-template #imagesL>
        <i class="fas fa-camera-retro"> Lavados (0)</i>
      </ng-template>
    </ng-template>
    <div class="container">
      <div class="modal-body row">
        <div class="col-md-6 text-center" *ngIf="maniobra.lavado">
          <h3>Tipo Lavado : "{{maniobra.lavado}}"</h3>
        </div>
        <div class="col-md-6 text-center" *ngIf="maniobra.lavadoObservacion">
          <h3>Observaciones</h3>
          <div>
            <p>{{maniobra.lavadoObservacion}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button *ngIf="galleryImagesL && galleryImagesL.length >0" class="btn btn-danger" (click)="eliminaFoto(rutaFotoActual, 'L')">
                <i class="fas fa-trash"></i> Eliminar Foto
            </button>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md text-center"></div>
        <div class="col-md text-center">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImagesL" (change)="onChange($event)"
          *ngIf="galleryImagesL && galleryImagesL.length >0"></ngx-gallery>
        </div>
        <div class="col-md text-center"></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="mostrarReparaciones(maniobra)" label="reparaciones">
    <ng-template mat-tab-label>
      <div *ngIf="galleryImagesR;else imagesR">
        <i class="fas fa-camera-retro"> Reparaciones ({{galleryImagesR.length}})</i>
      </div>
      <ng-template #imagesR>
        <i class="fas fa-camera-retro"> Reparaciones (0)</i>
      </ng-template>
    </ng-template>
    <div class="container">
      <div class="modal-body row">
        <div class="col-md-6 text-center" *ngIf="maniobra.reparaciones && maniobra.reparaciones.length > 0">
          <h3>Reparaciones</h3>
          <ol>
            <div *ngFor="let reparacion of maniobra.reparaciones">
              <li>{{reparacion.descripcion}}</li>
            </div>
          </ol>
        </div>
        <div class="col-md-6 text-center" *ngIf="maniobra.reparacionesObservacion">
          <h3>Observaciones</h3>
          <div>
            <p>{{maniobra.reparacionesObservacion}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="align-content: center">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <button *ngIf="galleryImagesR && galleryImagesR.length >0" class="btn btn-danger" (click)="eliminaFoto(rutaFotoActual, 'R')">
                <i class="fas fa-trash"></i> Eliminar Foto
            </button>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md text-center"></div>
        <div class="col-md text-center">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImagesR" (change)="onChange($event)"
          *ngIf="galleryImagesR && galleryImagesR.length >0"></ngx-gallery>
        </div>
        <div class="col-md text-center"></div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="carga" *ngIf="okCargar">
    <ng-template mat-tab-label>
      <i class="fas fa-cloud-upload-alt"> Carga</i>
    </ng-template>
    <div class="row">
      <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event"
          (comprimiendoImagen)="comprimiendo = $event" [yaCargo]="yaCargo" [ngClass]="{'file-over': estaSobreElemento}"
          class="well drop-zone">
          <h4>Suelta los archivos aquí</h4>
          <img src="assets/images/drop-images.png">
        </div>
        <input class="hidden" (change)="seleccionImagen($event.target.files)" type="file" multiple />
      </div>
      <div class="col-md-8">
        <h4>Cargar archivos</h4>

        <mat-form-field>
          <mat-select [(value)]="selected" placeholder="Tipo de fotos" name="fotos">
            <mat-option value="fotos_lavado">Lavado</mat-option>
            <mat-option value="fotos_reparacion">Reparación</mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="cargarImagenes()" class="btn btn-success">Cargar fotos</button>
        <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>

        <div class="row animated fadeIn" *ngIf="comprimiendo">
          <div class="col-sm-12">
            <div class="alert alert-warning text-center">
              <strong>Comprimiendo Imagenes</strong>
              <br>
              <i class="fas fa-refresh fa-spin fa-2x"></i>
              <br>
              <span>Espere por favor</span>
            </div>
          </div>
        </div>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Nombre archivo</th>
              <th>Cargado</th>
              <th>Tamaño</th>
              <th>Progreso</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let archivo of archivos">
              <th>{{archivo.nombreArchivo}}</th>
              <th><i *ngIf="archivo.progreso === 100;" class="fa fa-check" aria-hidden="true"></i></th>
              <th>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</th>
              <th>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
