<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
                            <td>
                                <img [src]="usuario.img | imagen" class="img-50 img-circle">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="usuarios.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Operadores</h4>

                <table class="table table-hover" *ngIf="operadores.length > 0">
                    <tbody>
                        <tr *ngFor="let operador of operadores" [routerLink]="['/operador', operador._id]" class="pointer">
                            <td>
                                <img [src]="operador.img | imagen:'operador'" class="img-50 img-circle">
                            </td>
                            <td>{{ operador.operador }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="operadores.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Camiones</h4>

                <table class="table table-hover" *ngIf="camiones.length > 0">
                    <tbody>
                        <tr *ngFor="let camion of camiones" [routerLink]="['/camion', camion._id]" class="pointer">
                            <td>{{ camion.numbereconomico }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="camiones.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contenedor</h4>

                <table class="table table-hover" *ngIf="contenedores.length > 0">
                    <tbody>
                        <tr *ngFor="let contenedor of contenedores" [routerLink]="['/contenedor', contenedor._id]" class="pointer">
                            <td>{{ contenedor.contenedor }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="contenedores.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clientes</h4>

                <table class="table table-hover" *ngIf="clientes.length > 0">
                    <tbody>
                        <tr *ngFor="let cliente of clientes" [routerLink]="['/cliente', cliente._id]" class="pointer">
                            <td>{{ cliente.cliente }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="clientes.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agencias</h4>

                <table class="table table-hover" *ngIf="agencias.length > 0">
                    <tbody>
                        <tr *ngFor="let agencia of agencias" [routerLink]="['/agencia', agencia._id]" class="pointer">
                            <td>{{ agencia.nombre }}</td>
                            <td>{{ agencia.rfc }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="agencias.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Transportistas</h4>

                <table class="table table-hover" *ngIf="transportistas.length > 0">
                    <tbody>
                        <tr *ngFor="let transportista of transportistas" [routerLink]="['/transportista', transportista._id]" class="pointer">
                            <td>{{ transportista.nombre }}</td>
                            <td>{{ transportista.rfc }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf="transportistas.length === 0">
                    No hay registros
                </div>

            </div>
        </div>
    </div>




</div>