<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Operador: {{ operador.operador }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarOperador(f)">
                        <div class="my-container">
                            <!--========Combombox Operador=========-->
                            <mat-form-field>
                                <mat-select placeholder="Seleccione un Transportista" [(ngModel)]="operador.transportista" name="transportista" required>
                                    <mat-option *ngFor="let transportista of transportistas" [value]="transportista._id">
                                        {{ transportista.razonSocial }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="operador.operador" name="operador" type="text" class="form-control" placeholder="Nombre del operador" required>
                            </mat-form-field>
                            <!--========input vigencia licencia=========-->
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="operador.vigenciaLicencia" name="vigenciaLicencia" type="text" class="form-control" placeholder="Vigencia de Licencia" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a routerLink="/operadores" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Fotografía</h4>
            <h6 class="card-subtitle">{{operador.img}}</h6>
            <img *ngIf="!operador.img" [src]="rutaFoto+operador.img | imagen" class="w150">
            <!-- <img *ngIf="!fotoTemporal" [src]="fotoTemporal.nombre" class="w150"> -->
            <input (change)="subirFotoTermporal($event.target.files[0])" type="file" name="fileFoto" accept=".pdf, image/*">

            <!-- <img (click)="subirFotoTermporal($event.target.files[0])" [src]="operador.img | imagen:'operador'" class="img-circle img-fluid pointer"> -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Licencia</h4>
            <img (click)="cambiarFoto()" [src]="operador.licencia | imagen:'operador'" class="img-circle img-fluid pointer">
        </div>
    </div>
</div>