<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarOperador( input.value )" type="text" class="form-control" placeholder="Buscar operador...">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/operador','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                  <i class="fa fa-plus"></i> 
                  Añadir nuevo operador
                </button>
                </div>
                <h3 class="card-title">Operadores registrados ( <small>{{_operadorService.totalOperadores}}</small> )</h3>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Transportista</th>
                            <th>Nombre del Chofer</th>
                            <th>Vigencia de Licencia</th>
                            <th>Licencia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let operador of operadores">
                            <td class=".w70"><img [src]="operador.img | imagen:'operador'" class="img-50 img-circle pointer"></td>
                            <td>{{operador.transportista.razonSocial}}</td>
                            <td>{{operador.operador}}</td>
                            <td>{{operador.vigenciaLicencia}}</td>
                            <td>{{operador.licencia}}</td>
                            <td>
                                <button [routerLink]="['/operador', operador._id ]" class="btn btn-primary">
                              <i class="fa fa-edit"></i>
                            </button>

                                <button (click)="borrarOperador( operador )" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    <i class="fas fa-angle-left"></i> Anteriores
                  </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                      Siguientes <i class="fas fa-angle-right"></i>
                </button>
            </div>

        </div>
    </div>
</div>