.example-header {
    min-height: 64px;
    width: 650px;
    padding: 8px 24px 0;
}

.mat-table-big {
    width: 2009px;
}

.example-header2 {
    min-height: 64px;
    width: 85%;
    padding: 8px 24px 0;
    margin-top: 20px;
}

.btn-primary.mat-mini-fab.mat-accent:hover, .btn-primary.mat-mini-fab.mat-accent {
    top: 23px;
    background-color: #002C77;
}

.botonB {
    width: 10px;
}

.container2 {
    margin-top: 30px;
    width: 1140px;
    top: 60px;
}

.table-responsive {
    border: 3px white solid;
    box-shadow: 3px 2px 26px grey;
    width: auto;
    margin-left: -20px;
}

.hiden {
    background: #002C77;
    color: white;
    height: 31px;
    width: 650px;
}

.hiden2 {
    background: #002C77;
    color: white;
    height: 31px;
    width: 650px;
    margin-top: 20px;
}

.hiden3 {
    background: #002C77;
    color: white;
    height: 31px;
    width: auto;
    position: relative;
    margin-left: -20px;
}

.letra {
    size: 10pt;
    font-size: 21px;
    top: 10px;
    text-align: center;
}

.letra2 {
    size: 10pt;
    font-size: 21px;
    top: 10px;
    text-align: center;
}

.letra3 {
    size: 10pt;
    font-size: 21px;
    top: 10px;
    text-align: center;
    padding-top: 4px;
}

.es {
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .container {
        /* max-width: 500px; */
        width: 1140px;
    }
    .container2 {
        margin-top: 30px;
        width: 1140px;
        top: 60px;
    }
}

@media (max-width: 1024px) {
    .example-header {
        min-height: 64px;
        width: 340px;
        padding: 8px 24px 0;
        top: 10px;
    }
    .hiden {
        background: #002C77;
        color: white;
        height: 31px;
        width: 100%;
    }
    .hiden2 {
        margin-top: 10px;
        background: #002C77;
        color: white;
        height: 31px;
        width: 341px;
    }
    .hiden3 {
        background: #002C77;
        color: white;
        height: 31px;
        margin-left: -27px;
        width: 708px;
        position: relative;
    }
    .letra {
        size: 10pt;
        font-size: 21px;
        top: 10px;
        margin-left: 50px;
    }
    .letra2 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .letra3 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .table-responsive {
        border: 3px white solid;
        box-shadow: 1px -10px 26px grey;
        margin-left: -28px;
        display: flex;
        width: 710px;
        overflow-x: auto;
    }
    .btn-primary.mat-mini-fab.mat-accent:hover, .btn-primary.mat-mini-fab.mat-accent {
        top: 23px;
        background-color: #002C77;
        width: 38px;
        height: 38px;
    }
    .container2 {
        margin-top: 30px;
        width: 1140px;
        top: 60px;
    }
}

@media (max-width: 800px) {
    .example-header {
        min-height: 64px;
        width: 340px;
        padding: 8px 24px 0;
        top: 10px;
    }
    .hiden {
        background: #002C77;
        color: white;
        height: 31px;
        width: 100%;
    }
    .hiden2 {
        margin-top: 10px;
        background: #002C77;
        color: white;
        height: 31px;
        width: 342px;
    }
    .hiden3 {
        background: #002C77;
        color: white;
        height: 31px;
        margin-left: -27px;
        width: 600px;
        position: relative;
    }
    .letra {
        size: 10pt;
        font-size: 21px;
        top: 10px;
        margin-left: 50px;
    }
    .letra2 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .letra3 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .table-responsive {
        border: 3px white solid;
        box-shadow: 1px -10px 26px grey;
        margin-left: -28px;
        display: flex;
        width: 600px;
        overflow-x: auto;
    }
    .btn-primary.mat-mini-fab.mat-accent:hover, .btn-primary.mat-mini-fab.mat-accent {
        top: 23px;
        background-color: #002C77;
        width: 38px;
        height: 38px;
    }
    .container2 {
        margin-top: 50px;
        width: 561px;
        top: 60px;
    }
    .info {
        position: absolute;
        margin-left: 57%;
        top: 78%;
    }
}

@media (max-width: 600px) {
    .example-header {
        min-height: 64px;
        width: 340px;
        padding: 8px 24px 0;
        top: 10px;
    }
    .hiden {
        background: #002C77;
        color: white;
        height: 31px;
        width: 100%;
    }
    .hiden2 {
        margin-top: 10px;
        background: #002C77;
        color: white;
        height: 31px;
        width: 100%;
    }
    .hiden3 {
        background: #002C77;
        color: white;
        height: 31px;
        margin-left: -20px;
        width: 355px;
        position: relative;
    }
    .letra {
        size: 10pt;
        font-size: 21px;
        top: 10px;
        margin-left: 50px;
    }
    .letra2 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .letra3 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .table-responsive {
        border: 3px white solid;
        box-shadow: 1px -10px 26px grey;
        margin-left: -28px;
        display: flex;
        width: 358px;
        overflow-x: auto;
        font-size: 15px;
        margin-left: -20px;
    }
    .btn-primary.mat-mini-fab.mat-accent:hover, .btn-primary.mat-mini-fab.mat-accent {
        top: 23px;
        background-color: #002C77;
        width: 38px;
        height: 38px;
    }
    .container2 {
        margin-top: 30px;
        width: 1140px;
        top: 60px;
    }
}

@media (max-width: 400px) {
    .example-header {
        min-height: 64px;
        width: 301px;
        padding: 8px 24px 0;
        top: 10px;
    }
    .hiden2 {
        margin-top: 10px;
        background: #002C77;
        color: white;
        height: 31px;
        width: 100%;
    }
    .hiden3 {
        background: #002C77;
        color: white;
        height: 31px;
        margin-left: -27px;
        width: 306px;
        position: relative;
    }
    .letra {
        size: 10pt;
        font-size: 21px;
        top: 10px;
        margin-left: 50px;
    }
    .letra2 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;        
        padding-top: 4px;
    }
    .letra3 {
        size: 10pt;
        font-size: 18px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .table-responsive {
        border: 3px white solid;
        box-shadow: 1px -10px 26px grey;
        margin-left: -28px;
        display: flex;
        width: 306px;
        overflow-x: auto;        
        font-size: 14px;
        margin-left: -27px;
    }
    .btn-primary.mat-mini-fab.mat-accent:hover, .btn-primary.mat-mini-fab.mat-accent {
        top: 23px;
        background-color: #002C77;
        width: 38px;
        height: 38px;
    }
    .container2 {
        margin-top: 41px;
        width: 240px;
        top: 60px;
    }
}

@media (max-width: 350px) {
    .example-header {
        min-height: 64px;
        width: 258px;
        padding: 8px 24px 0;
        top: 10px;
    }
    .hiden2 {
        margin-top: 10px;
        background: #002C77;
        color: white;
        height: 31px;
        width: 100%;
    }
    .hiden3 {
        background: #002C77;
        color: white;
        height: 31px;
        margin-left: -27px;
        width: 256px;
        position: relative;
    }
    .letra {
        size: 10pt;
        font-size: 21px;
        top: 10px;
        margin-left: 50px;
    }
    .letra2 {
        font-size: 15px;
        top: 10px;
        margin-left: 0px;        
        padding-top: 4px;
    }
    .letra3 {
        size: 10pt;
        font-size: 15px;
        top: 10px;
        margin-left: 0px;
        padding-top: 4px;
    }
    .table-responsive {
        border: 3px white solid;
        box-shadow: 1px -10px 26px grey;
        margin-left: -28px;
        display: flex;
        width: 259px;
        overflow-x: auto;        
        font-size: 12px;
        margin-left: -20px;
    }
    .btn-primary.mat-mini-fab.mat-accent:hover, .btn-primary.mat-mini-fab.mat-accent {
        top: 23px;
        background-color: #002C77;
        width: 38px;
        height: 38px;
    }
    .container2 {
        margin-top: 30px;
        width: 1140px;
        top: 60px;
    }
}

.info {
    position: absolute;
    margin-left: 57%;
    top: 82%;
}

.fa-trash {
    color: red;
}

.bote {
    width: 595px;
    top: 51px;
    position: absolute;
}

ul {
    display: none;
}

.conta {
    position: relative;
}

#checkbox {
    opacity: 0;
}

#checkbox:checked+ul {
    display: block;
}

.botonD {
    height: 31px;
    background-color: #63DF25;
    margin-left: -43px;
    margin-top: -81px;
    width: 32px;
    position: absolute;
}

/* .fa-dollar-sign {
    color: white;
    margin-left: -5px;
    margin-top: -7px;
    font-size: 20px;
    position: absolute;
} */

.botonI {
    height: 33px;
    background-color: #41767A;
    margin-left: -7px;
    margin-top: -60px;
    width: 34px;
    position: absolute;
}

/* .fa-boxes {
    color:white;
    margin-left: -9px;
    margin-top: -3px;
    font-size: 16px;
    position: absolute;
} */

.botonC {
    height: 31px;
    background-color: #D22D2D;
    margin-left: -7px;
    margin-top: -21px;
    width: 32px;
    position: absolute;
}

/* .fa-trash-o {
    color: white;
    margin-left: -9px;
    margin-top: -6px;
    position: absolute;
    font-size: 22px;
} */

label {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #002c77;
}

.total {
    font-weight: bold;
    color: black;
}

.fa-bars {
    color: cornsilk;
    font-size: 20px;
    margin-left: 8px;
    margin-top: 6px;
}

::ng-deep .mat-select-value-text {
    color: rgba(0, 0, 0, .88);
}

.btnDolar {
    /* border: 2px solid #74DF00;
    border-radius: 5px; */
    background-color: white;
    transition: background-color .5s;
    width: 38px;
    height: 38px;
}

.fa-dollar-sign {
    color: black;
    font-size: 18px;
}

.btnDolar:hover {
    background-color: #74DF00;
}

.btnBoxe {
    /* border: 2px solid #0080FF;
    border-radius: 5px; */
    background-color: white;
    transition: background-color .5s;
    width: 38px;
    height: 38px;
}

.fa-boxes {
    color: black;
    font-size: 18px;
    margin-left: -5px;
}

.btnBoxe:hover {
    background-color: #0080FF;
}

.btnTrash {
    /* border: 2px solid #B40404;
    border-radius: 5px; */
    background-color: white;
    transition: background-color .5s;
    width: 38px;
    height: 38px;
}

.fa-trash-o {
    color: black;
    font-size: 18px;
    margin-left: -2px;
    font-size: 21px;
}

.btnTrash:hover {
    background-color: #B40404;
}

.contenedorBotones {
    margin-left: 15px;
    /* margin-top: -30px; */
}