<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="card card-body">
      <form [formGroup]="regForm" (ngSubmit)="guardar()" (keydown.enter)="$event.preventDefault()" novalidate>
        <div class="row">
          <div class="my-container">
            <div class="col-md-3">
              <!--inicio de DATOS GENERALES-->
              <div class="hiden2">
                <div class="letra2">
                  <strong> 1.&nbsp;&nbsp;DATOS GENERALES</strong>
                </div>
              </div>
              <div class="example-header mat-elevation-z8">
                <div class="my-container">
                  <div class="row">
                    <div class="col-md-6">
                      <!--========Combombox Series=========-->
                      <mat-form-field>
                        <mat-select placeholder="SERIE" formControlName="serie"
                          (selectionChange)="cambioSerie( $event.value )" name="serie">
                          <mat-option *ngFor="let serie of series" [value]="serie.serie">
                            {{ serie.serie }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="serie.touched && serie.invalid">
                          <sup>*</sup>Por Favor Ingrese una Serie
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label><b>FOLIO</b></mat-label>
                        <input matInput class="total" formControlName="folio" type="text">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>SUCURSAL</b></mat-label>
                      <mat-select formControlName="sucursal" aria-placeholder="SUCURSALES">
                        <mat-option>-</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- <div class="col-md-12">
                    <mat-form-field>
                      <mat-select placeholder="FORMA DE PAGO" formControlName="formaPago" name="formaPago">
                        <mat-option *ngFor="let formaPago of formasPago" [value]="formaPago.formaPago">
                          {{ formaPago.formaPago + ' - ' + formaPago.descripcion }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="formaPago.touched && formaPago.invalid">
                        <sup>*</sup>Por Favor Ingrese una Forma de Pago
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>MONEDA</b></mat-label>
                      <mat-select formControlName="moneda" aria-placeholder="MONEDA">
                        <mat-option value="MXN">MXN - Peso Mexicano</mat-option>
                        <mat-option value="USD">USD - Dolar Americano</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-select placeholder="TIPO DE COMPROBANTE" formControlName="tipoComprobante"
                        name="tipoComprobante">
                        <mat-option *ngFor="let tipoComprobante of tiposComprobante"
                          [value]="tipoComprobante.tipoComprobante">
                          {{ tipoComprobante.descripcion }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="tipoComprobante.touched && tipoComprobante.invalid">
                        <sup>*</sup>Por Favor Ingrese un Tipo Comprobante
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-select placeholder="METODO DE PAGO" formControlName="metodoPago" name="metodoPago">
                        <mat-option *ngFor="let metodoPago of metodosPago" [value]="metodoPago.metodoPago">
                          {{ metodoPago.metodoPago + ' - ' + metodoPago.descripcion }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="metodoPago.touched && metodoPago.invalid">
                        <sup>*</sup>Por Favor Ingrese un Metodo de Pago
                      </mat-error>
                    </mat-form-field>
                  </div> -->

                  <div class="col-md-12">
                    <mat-form-field>
                      <input matInput formControlName="fecha" [matDatepicker]="fecha" type="text"
                        placeholder="Fecha Factura">
                      <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                      <mat-datepicker #fecha></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--INICIO DE RECEPOR-->
          <div class="my-container">
            <div class="col-md-3">
              <div class="hiden2">
                <div class="letra2">
                  <strong> 2.&nbsp;&nbsp;RECEPTOR </strong>
                </div>
              </div>
              <div class="example-header mat-elevation-z8">
                <div class="my-container">
                  <!-- <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>Receptor</b></mat-label>
                      <input matInput formControlName="receptor" type="text">
                    </mat-form-field>
                  </div> -->

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>RFC</b></mat-label>
                      <input matInput formControlName="rfc" type="text">
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>NOMBRE O RAZÓN SOCIAL</b></mat-label>
                      <input matInput formControlName="nombre" type="text">
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <!--========Combombox Usos CFDI=========-->
                    <mat-form-field>
                      <mat-select placeholder="USOS CFDI" formControlName="usoCFDI" name="usoCFDI">
                        <mat-option *ngFor="let usoCFDI of usosCFDI" [value]="usoCFDI.usoCFDI">
                          {{ usoCFDI.usoCFDI + ' - ' + usoCFDI.descripcion }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="usoCFDI.touched && usoCFDI.invalid">
                        <sup>*</sup>Por Favor Ingrese un uso de CFDI
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>DIRECCION</b></mat-label>
                      <input matInput formControlName="direccion" type="text">
                    </mat-form-field>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label><b>CORREO ELECTRÓNICO</b></mat-label>
                      <input matInput formControlName="correo" type="text">
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--INICIO DE CONCEPTO-->
          <div class="example-header2">
            <div class="my-container">
              <div class="col-md-12">
                <div class="hiden3">
                  <div class="letra3">
                    <strong> 3.&nbsp;&nbsp;CONCEPTOS </strong>
                  </div>
                </div>

                <div class="table-responsive">
                  <mat-checkbox [(ngModel)]="agrupado" [ngModelOptions]="{standalone: true}"
                    (change)="agruparDesagruparConcepto($event.checked)" matTooltip="Agrupar/Desagrupar Concepto">
                    <a *ngIf="agrupado;else desagrupar">Agrupado</a>
                    <ng-template #desagrupar>
                      <a>Desagrupado</a>
                    </ng-template>
                  </mat-checkbox>
                  <div class="contenedorBotones">
                    <div class="row">
                      <button type="button" [disabled]="this.ObjetoSelect.length > 1" matTooltip="Modificar Impuestos"
                        (click)="openDialogImpuestos(idSelect)" class="btnDolar btn  m-r-5">
                        <i class="fas fa-dollar-sign"></i>
                      </button>
                      <button type="button" [disabled]="this.ObjetoSelect.length > 1" matTooltip="Modificar Maniobras"
                        (click)="openDialogManiobras(idSelect)" class="btnBoxe btn  m-r-5">
                        <i class="fas fa-boxes"></i>
                      </button>
                      <button type="button" matTooltip="Quitar Concepto" (click)="agrupinD(ObjetoSelect)" class="btnTrash btn m-r-5">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </div>
                  </div>
                  <!-- <mat-checkbox [checked]= true (change)="agruparDesagruparConcepto($event.checked, item.value)"
                    matTooltip="Agrupar/Desagrupar Concepto">
                  </mat-checkbox> -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Unidad </th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">ValorUnitario</th>
                        <th scope="col">Impuestos</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Importe</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody formArrayName="conceptos" *ngFor="let item of conceptos.controls; let i = index;">
                      <tr [formGroupName]="i">
                        <td>
                          <!-- 
                          <div class="conta">
                            <label for="checkbox">
                              <i class="fa fa-bars"></i>
                            </label>
                            <input id="checkbox" type="checkbox" />
                            <ul>
                              <a matTooltip="Modificar Impuestos" class="botonD btn   btn-circle"
                                (click)="openDialogImpuestos(item.value)"><i class="fas fa-dollar-sign"></i></a>

                                <a matTooltip="Modificar Maniobras"
                                (click)="openDialogManiobras(item.value)" class="botonI btn  btn-circle">
                                <i class="fas fa-boxes"></i></a>
                                <a matTooltip="Quitar Concepto" (click)="quitar(i)" class=" botonC btn btn-danger btn-circle">
                                  <i class="fa fa-trash-o"></i></a>
                            </ul>
                          </div> -->
                          <!-- <button type="button" matTooltip="Modificar Impuestos"
                            (click)="openDialogImpuestos(item.value)" class="btn btn-primary m-r-5">
                            <i class="fas fa-dollar-sign"></i>
                          </button>
                          <button type="button" matTooltip="Modificar Maniobras"
                            (click)="openDialogManiobras(item.value)" class="btn btn-success m-r-5">
                            <i class="fas fa-boxes"></i>
                          </button>
                          <button type="button" matTooltip="Quitar Concepto" (click)="quitar(i)" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                          </button> -->
                          <mat-checkbox  (change)="onChange(item.value, i, $event)"></mat-checkbox>
 

                        </td>
                        <td scope="row">{{i+1}}</td>
                        <td>
                          <!-- {{item.get('descripcion').value}} -->
                          <div class="col-md">
                            <mat-form-field class="example-full-width">
                              <!-- <input matInput [value]="item.get('descripcion').value" formControlName="descripcion"
                                type="text" (blur)="asignaValores(item.value)" style="text-align: center;"> -->
                              <textarea matInput [value]="item.get('descripcion').value" formControlName="descripcion"
                                rows="6" cols="70" (blur)="asignaValores(item.value)" style="text-align: center;"></textarea>
                            </mat-form-field>
                          </div>
                        </td>
                        <td>
                          {{item.get('unidad').value}}
                        </td>
                        <td>
                          {{item.get('cantidad').value}}
                        </td>
                        <td>
                          <div class="col-md-6">
                            <mat-form-field>
                              <input matInput [value]="item.get('valorUnitario').value" formControlName="valorUnitario"
                                type="number" (blur)="asignaValores(item.value)" style="text-align: center;">
                            </mat-form-field>
                          </div>
                        </td>
                        <td> 
                          {{calculaImpuestos(item.get('impuestosTrasladados').value, item.get('impuestosRetenidos').value)}}
                        </td>
                        <td>
                          <div class="col-md-5">
                            <mat-form-field>
                              <input matInput [value]="item.get('descuento').value" formControlName="descuento"
                                type="number" (blur)="asignaValores(item.value)" style="text-align: center;">
                            </mat-form-field>
                          </div>
                        </td>
                        <td>
                          {{item.get('importe').value}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <br><br><br>
          <div class="es">
            <div class="my-container">
              <div class="col-md-3">
                <div class="example-header mat-elevation-z8">
                  <div class="my-container">
                    <div class="col-md-12">
                      <div class="text-right">
                        <button type="button" class="btn btn-danger" matTooltip="Información Adicional"
                          (click)="BotoninformacionAdicional()">
                          <i class="fas fa-info"></i>
                        </button>
                      </div>
                      <div class="bote" *ngIf="infoAd !== ''">
                        <div class="text-right">
                          <a matTooltip="Eliminar informacion Adicional" (click)="BorrarInformacion()">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>

                      <mat-form-field>
                        <mat-label><b>INFORMACIÓN ADICIONAL</b></mat-label>
                        <input matInput formControlName="informacionAdicional" type="text" [(ngModel)]="infoAd"
                          [disabled] [value]="regForm.get('informacionAdicional').value">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <br><br>
          <!--INICIO SUBTOTAL-->
          <div class="es">
            <div class="my-container">
              <div class="col-md-3">
                <div class="example-header mat-elevation-z8">
                  <div class="my-container">
                    <div class="col-md-8">
                      <mat-form-field>
                        <mat-label><b>SUBTOTAL</b></mat-label>
                        <input matInput class="total" formControlName="subtotal" type="text"
                          [value]="regForm.get('subtotal').value">
                      </mat-form-field>
                    </div>
                    <div class="col-md-8" *ngIf="regForm.get('totalImpuestosRetenidos').value > 0">
                      <mat-form-field>
                        <mat-label><b>TOTAL DE IMPUESTOS RETENIDOS</b></mat-label>
                        <input matInput class="total" formControlName="totalImpuestosRetenidos" type="text"
                          [value]="regForm.get('totalImpuestosRetenidos').value">
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field>
                        <mat-label><b>TOTAL DE IMPUESTOS TRASLADADOS</b></mat-label>
                        <input matInput class="total" formControlName="totalImpuestosTrasladados" type="text"
                          [value]="regForm.get('totalImpuestosTrasladados').value">
                      </mat-form-field>
                    </div>
                    <div class="col-md-8 " *ngIf="regForm.get('totalDescuentos').value > 0">
                      <mat-form-field>
                        <mat-label><b>TOTAL DESCUENTO</b></mat-label>
                        <input matInput class="total" formControlName="totalDescuentos" type="text"
                          [value]="regForm.get('totalDescuentos').value">
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field>
                        <mat-label><b>TOTAL</b></mat-label>
                        <input matInput class="total" formControlName="total" type="text"
                          [value]="regForm.get('total').value">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="es">
          <div class="col-md-10">
            <div class="text-left">
              <button type="submit"
                class="btn btn-primary btn-success waves-effect waves-light m-r-10 ">GUARDAR</button>
              <button type="button" class="btn btn-danger  m-r-10" (click)="back()"> Regresar</button>
            </div>
          </div>
          <div class="col-md">

          </div>
        </div>
      </form>

      <!-- <div class="output">
        <p>Form Data: {{regForm.value | json}}</p>
        <p>Is Valid: {{regForm.valid}}</p>
      </div> -->
    </div>
  </div>
</div>
