<form [formGroup]="regForm" (ngSubmit)="guardaCambios()" novalidate>
  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos Generales
        </mat-panel-title>
      </mat-expansion-panel-header>
      <fieldset disabled>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Agencia</label>
            <input type="text" class="form-control form-control-sm" formControlName="agencia">
          </div>
          <div class="form-group col-md-4">
            <label>Cliente</label>
            <input type="text" class="form-control form-control-sm" formControlName="cliente">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Contenedor</label>
            <input type="text" class="form-control form-control-sm" formControlName="contenedor">
          </div>
          <div class="form-group col-md-2">
            <label>Tipo</label>
            <input type="text" class="form-control form-control-sm" formControlName="tipo">
          </div>
          <div class="form-group col-md-2">
            <label>Estado</label>
            <input type="text" class="form-control form-control-sm" formControlName="peso">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Transportista</label>
            <input type="text" class="form-control form-control-sm" formControlName="transportista">
          </div>
          <div class="form-group col-md-2">
            <label>Camion</label>
            <input type="text" class="form-control form-control-sm" formControlName="camion">
          </div>
          <div class="form-group col-md-2">
            <label>Operador</label>
            <input type="text" class="form-control form-control-sm" formControlName="operador">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Fecha Llegada:</label>
            <input type="text" class="form-control form-control-sm" formControlName="fLlegada">
            <!-- <p class="form-control-static"> {{fLlegada.value | date:'dd/MM/yyyy'}} </p> -->

          </div>
          <div class="form-group col-md-2">
            <label>Hora Llegada:</label>
            <input type="time" class="form-control form-control-sm" formControlName="hLlegada">
          </div>
          <div class="form-group col-md-2">
            <label>Hora Entrada:</label>
            <input type="time" class="form-control form-control-sm" formControlName="hEntrada">
          </div>
          <div class="form-group col-md-2">
            <label>estatus:</label>
            <input type="text" class="form-control form-control-sm" formControlName="estatus">
          </div>
        </div>
      </fieldset>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lavado
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 class="box-title">Lavado</h3>
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Tipo Lavado</mat-label>
            <mat-select formControlName="lavado" tabindex="1">
              <mat-option *ngFor="let tipo of tiposLavado" [value]="tipo.id">
                {{tipo.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Observaciones</mat-label>
            <label class="control-label"><b>Observaciones :</b></label>
            <textarea matInput formControlName="lavadoObservacion" rows="3" cols="40"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <!-- <button [routerLink]="['/fotos', 'params', {id: _id, opcion: 'fotos_lavado'}]" class="btn btn-primary">
                  <i class="fas fa-camera-retro"></i>
                  Fotos Lavado
                </button> -->
          <button type="button" [routerLink]="['/fotos',  _id.value]" [queryParams]="{opcion: 'fotos_lavado'}" class="btn btn-primary">
                  <i class="fas fa-camera-retro"></i>
                  Fotos Lavado
              </button>
        </div>
      </div>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reparación
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 class="box-title">Reparaciones</h3>
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select #tipoReparacion tabindex="1">
              <mat-option *ngFor="let tipo of tiposReparaciones" [value]="tipo._id">
                {{tipo.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button (click)="addReparacion(tipoReparacion.value)" type="button" class="btn btn-success"> <i class="fa fa-check"></i> Añadir</button>
          <!-- <button [routerLink]="['/fotos', 'params', {id: _id, opcion: 'fotos_reparacion'}]" class="btn btn-primary">
              <i class="fas fa-camera-retro"></i>
              Fotos Reparación
            </button> -->
          <button type="button" [routerLink]="['/fotos',_id.value]" [queryParams]="{opcion: 'fotos_reparacion'}" class="btn btn-primary">
              <i class="fas fa-camera-retro"></i>
              Fotos Reparacion 
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <table matNativeControl class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Reparacion</th>
                </tr>
              </thead>
              <tbody formArrayName="reparaciones" *ngFor="let item of reparaciones.controls; let i = index;">
                <tr [formGroupName]="i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{this.reparaciones.controls[i].get('reparacion').value}}</td>
                  <td>
                    <button (click)="removeReparacion( i )" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Observaciones Reparación</mat-label>
            <textarea matInput formControlName="reparacionesObservacion" rows="3" cols="40"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Descarga y Salida de Camion
        </mat-panel-title>
      </mat-expansion-panel-header>



      <h3 class="box-title">Grado y Salida</h3>
      <hr class="m-t-0 m-b-40">
      <div *ngIf="descargaAutorizada.value" class="alert alert-success">
        Descarga Autorizada!
      </div>
      <div *ngIf="!descargaAutorizada.value" class="alert alert-danger">
        Descarga NO Autorizada!
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Hora Descarga</mat-label>
            <input matInput formControlName="hDescarga" type="time" (focus)="ponHoraDescarga()">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Hora Salida</mat-label>
            <input matInput formControlName="hSalida" type="time" (focus)="ponHoraSalida()">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Grado Contenedor</mat-label>
            <mat-select formControlName="grado">
              <mat-option *ngFor="let grado of grados" [value]="grado">
                {{grado}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
  <div *ngIf="mensajeError" class="alert alert-danger">
    {{mensajeError}}
  </div>
  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
  <i class="fa fa-save"></i>
  Guardar Cambios
</button>
  <button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
  <!-- <a routerLink="/maniobras" class="btn btn-danger waves-effect waves-light">Regresar</a> -->

</form>
<!-- <p>Form value {{ regForm.value | json }} </p> -->