<form [formGroup]="regForm" (ngSubmit)="guardaCambios()" novalidate>
  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos Generales
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-md-4">
          <h4>Agencia</h4>
          <p>{{agencia.value}}</p>
        </div>
        <div class="col-md-4">
          <h4>Cliente</h4>
          <p>{{cliente.value}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4>Contenedor</h4>
          <p>{{contenedor.value}}</p>
        </div>
        <div class="col-md-2">
          <h4>Tipo</h4>
          <p>{{tipo.value}}</p>
        </div>
        <div class="col-md-3">
          <h4>Estado</h4>
          <p>{{peso.value}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>Transportista</h4>
          <p class="form-control-static">{{transportista.value}}</p>
        </div>
        <div class="col-md-3">
          <h4>Camion</h4>
          <p class="form-control-static">{{camion.value}}</p>
        </div>
        <div class="col-md-3">
          <h4>Operador</h4>
          <p class="form-control-static">{{operador.value}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">

          <h4>Fecha Llegada:</h4>
          <p class="form-control-static"> {{fLlegada.value | date:'dd/MM/yyyy'}} </p>

        </div>
        <div class="col-md-2">

          <h4>Hora Llegada:</h4>
          <p class="form-control-static"> {{hLlegada.value}} </p>

        </div>
        <div class="col-md-2">
          <h4>Hora Entrada:</h4>
          <p class="form-control-static"> {{hEntrada.value}} </p>
        </div>
        <div class="col-md-2">
          <h4>estatus:</h4>
          <p class="form-control-static"> {{estatus.value}} </p>
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lavado
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 class="box-title">Lavado</h3>
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Tipo Lavado</mat-label>
            <mat-select formControlName="lavado" tabindex="1">
              <mat-option *ngFor="let tipo of tiposLavado" [value]="tipo.id">
                {{tipo.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Observaciones</mat-label>
            <label class="control-label"><b>Observaciones :</b></label>
            <textarea matInput formControlName="lavadoObservacion" rows="3" cols="40"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <!-- <button [routerLink]="['/fotos', 'params', {id: _id, opcion: 'fotos_lavado'}]" class="btn btn-primary">
                  <i class="fas fa-camera-retro"></i>
                  Fotos Lavado
                </button> -->
          <button type="button" [routerLink]="['/fotos',  _id.value]" [queryParams]="{opcion: 'fotos_lavado'}"
            class="btn btn-primary">
            <i class="fas fa-camera-retro"></i>
            Fotos Lavado
          </button>
        </div>
      </div>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reparación
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 class="box-title">Reparaciones</h3>
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select #tipoReparacion tabindex="1">
              <mat-option *ngFor="let tipo of tiposReparaciones" [value]="tipo._id">
                {{tipo.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button (click)="addReparacion(tipoReparacion.value)" type="button" class="btn btn-success m-r-5"> <i
              class="fa fa-check"></i> Añadir</button>
          <!-- <button [routerLink]="['/fotos', 'params', {id: _id, opcion: 'fotos_reparacion'}]" class="btn btn-primary">
              <i class="fas fa-camera-retro"></i>
              Fotos Reparación
            </button> -->
          <button type="button" [routerLink]="['/fotos',_id.value]" [queryParams]="{opcion: 'fotos_reparacion'}"
            class="btn btn-primary">
            <i class="fas fa-camera-retro"></i>
            Fotos Reparacion
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <table matNativeControl class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Reparacion</th>
                </tr>
              </thead>
              <tbody formArrayName="reparaciones" *ngFor="let item of reparaciones.controls; let i = index;">
                <tr [formGroupName]="i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{this.reparaciones.controls[i].get('reparacion').value}}</td>
                  <td>
                    <button (click)="removeReparacion( i )" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Observaciones Reparación</mat-label>
            <textarea matInput formControlName="reparacionesObservacion" rows="3" cols="40"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Descarga y Salida de Camion
        </mat-panel-title>
      </mat-expansion-panel-header>



      <h3 class="box-title">Grado y Salida</h3>
      <hr class="m-t-0 m-b-40">
      <div *ngIf="descargaAutorizada.value" class="alert alert-success">
        Descarga Autorizada!
      </div>
      <div *ngIf="!descargaAutorizada.value" class="alert alert-danger">
        Descarga NO Autorizada!
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Hora Descarga</mat-label>
            <input matInput formControlName="hDescarga" type="time" (focus)="ponHoraDescarga()">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Hora Salida</mat-label>
            <input matInput formControlName="hSalida" type="time" (focus)="ponHoraSalida()">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Grado Contenedor</mat-label>
            <mat-select formControlName="grado">
              <mat-option *ngFor="let grado of grados" [value]="grado">
                {{grado}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h4 class="alert alert-success text-center">Coordenadas</h4>
          <table class="table table-responsive mat-elevation-z8">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <div *ngIf="regForm.get('bahia') && regForm.get('posicion')">
                    <button type="button" class="btn btn-success"
                      [disabled]="regForm.pristine || !regForm.get('bahia').valid || !regForm.get('posicion').valid"
                      (click)="addCoordenada(bahia.value, posicion.value); ">
                      +
                    </button>
                  </div>
                </th>
                <mat-error *ngIf="coordenadas.touched && coordenadas.invalid && !coordenadas.errors?.minlength">
                  <sup>*</sup> Por Favor Ingresar correctamente una Coordenada
                </mat-error>
                <th scope="col-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="bahia" (selectionChange)='quit(bahia)' class="form-control" #bahia
                      placeholder="Bahía">
                  </mat-form-field>
                  <mat-error *ngIf="regForm.get('bahia').touched && regForm.get('bahia').invalid">
                    <sup>*</sup> Favor de ingresar correctamente una Bahía
                  </mat-error>
                </th>
                <th scope="col-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="posicion" (selectionChange)='quit(posicion)' class="form-control"
                      #posicion placeholder="Posición">
                  </mat-form-field>
                  <mat-error *ngIf="regForm.get('posicion').touched && regForm.get('posicion').invalid">
                    <sup>*</sup> Favor ingresar correctamente una Posición
                  </mat-error>
                </th>
              </tr>
              <tr class="info">
                <th scope="col"></th>
                <th scope="col">#</th>

                <th scope="col">Bahía</th>
                <th scope="col">Posición</th>

              </tr>
            </thead>
            <tbody formArrayName="coordenadas" *ngFor="let item of coordenadas.controls; let i = index;">
              <tr [formGroupName]="i">
                <td>
                  <button type="button" (click)="quitar( i )" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
                <td scope="row">{{i+1}}</td>
                <td>
                  {{item.get('bahia').value}}
                </td>
                <td>
                  {{item.get('posicion').value}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
  <div *ngIf="mensajeError" class="alert alert-danger">
    {{mensajeError}}
  </div><br>
  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
    <i class="fa fa-save"></i>
    Guardar
  </button>
  <button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
  <!-- <a routerLink="/maniobras" class="btn btn-danger waves-effect waves-light">Regresar</a> -->

</form>
<!-- <p>Form value {{ regForm.value | json }} </p> -->