<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarUsuarios(input.value)" type="text" class="form-control" placeholder="Buscar usuarios...">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fas fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <div class="text-right">
                        <button [routerLink]="['/usuarios','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i> 
                            Añadir nuevo Usuario
                        </button>
                    </div>
                <h3 class="card-title">Usuarios registrados (<small>{{totalRegistros}}</small>)</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Role</th>
                                <th>Empresas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class=".w70"><img [src]="usuario.img | imagen" class="img-50 img-circle pointer"></td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>
                                    <select disabled [(ngModel)]="usuario.role" name="role" class="form-control">
                                  <option value="ADMIN_ROLE">ADMINISTRADOR</option>
                                  <option value="REIMADMIN_ROLE">ADMIN REIM</option>
                                  <option value="REIM_ROLE">REIM USER</option>
                                  <option value="NAVIERA_ROLE">NAVIERA</option>
                                  <option value="TRANSPORTISTA_ROLE">TRANSPORTISTA</option>
                                  <option value="AA_ROLE">AGENCIA ADUANAL</option>
                                  <option value="CLIENT_ROLE">CLIENTE</option>
                                </select>
                                </td>
                                <td>
                                    <p  *ngFor="let empresa of usuario.empresas">{{empresa.razonSocial}}</p>
                                </td>
                                <td>
                                    <button [routerLink]="['/usuarios', usuario._id ]" class="btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button (click)="borrarUsuario(usuario)" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <button [routerLink]="['/usuarios/resetPass', usuario._id ]" class="btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                  <i class="fas fa-angle-left"></i> Anteriores
                </button>
                <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                    Siguientes <i class="fas fa-angle-right"></i>
              </button>

            </div>
        </div>
    </div>
</div>