<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulario de altas / Edición de usuarios</h4>
        <form [formGroup]="regForm" (ngSubmit)="guardarUsuario()" novalidate>
          <div class="my-container">
            <mat-form-field>
              <input matInput formControlName="nombre" type="text" placeholder="Nombre del usuario">
              <mat-error *ngIf="nombre.touched && nombre.invalid && !nombre.errors?.minlength">
                <sup>*</sup>Por Favor Ingrese un Nombre de Usuario
              </mat-error>
              <mat-error *ngIf="nombre.errors && nombre.errors['minlength']">
                <sup>*</sup>El nombre de usuario debe contener al menos 5 caracteres<br>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="email" type="text" placeholder="Correo electrónico del usuario">
              <mat-error *ngIf="email.touched && email.invalid">
                <sup>*</sup>Por Favor Ingrese un Correo electrónico
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="password.enabled">
              <input matInput formControlName="password" type="password" placeholder="Password">
              <mat-error *ngIf="password.touched && password.invalid && !nombre.errors?.minlength">
                <sup>*</sup>Por Favor Ingrese una contraseña
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="password.enabled">
              <input matInput formControlName="passwordConfirm" type="password" placeholder="Confirmar Password" required compare="password">
              <mat-error *ngIf="passwordConfirm.errors">
                <sup>*</sup>La confirmación de la contraseña no coincide...
              </mat-error>
            </mat-form-field>
            <!--========Combombox ROLE=========-->
            <mat-form-field>
              <mat-select formControlName="role" (selectionChange)="cambioRole( $event.value )" type="text" placeholder="ROLE">
                <mat-option *ngFor="let role of roles" [value]="role._id">
                  {{role.descripcion}}
                </mat-option>

              </mat-select>
            </mat-form-field>
            <!--========Combombox Empresas ligadas segun el ROL=========-->
            <mat-form-field>
              <mat-select placeholder="Seleccione una empresa" formControlName="empresas" multiple>
                <mat-option *ngFor="let empresa of listaEmpresas" [value]="empresa._id">
                  {{ empresa.nombreComercial }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Observaciones </mat-label>
              <textarea matInput formControlName="observaciones" rows="3" cols="40"></textarea>
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary btn-success waves-effect waves-light m-r-10" [disabled]="regForm.pristine || regForm.invalid">
            <i class="fa fa-save"></i>
            Guardar
          </button>
          <button type="button" class="btn btn-danger" (click)="back()"> Regresar Catálogo</button>
          <!-- <a routerLink="/usuarios" class="btn btn-danger waves-effect waves-light">Regresar Catálogo</a> -->
        </form>
        <!-- <p>Form value {{ regForm.value | json }} </p>
                {{empresas | json}} -->
        <!-- <p> Form status {{ regForm.status | json}} </p>
                <p> Form status2 {{ regForm.pristine | json}} </p> -->
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-header">Fotografía</div>
      <div class="card-body">
        <p *ngIf="fotoTemporal; else notShow" class="text-danger">
          <img (click)="fileFoto.click()" [src]="img.value | imagen:'temp'" class="w150 img-circle pointer">
          <mat-error>
            <sup>*</sup>¡Archivo Temporal, debe guardar el registro del usuario para confirmar!...
          </mat-error>
        </p>
        <ng-template #notShow>
          <img (click)="fileFoto.click()" [src]="img.value | imagen:'usuario'" class="w150 img-circle pointer">
        </ng-template>
        <input (change)="onFileSelected($event)" type="file" style="display:none" name="fileFoto" accept="image/*" #fileFoto>
        <br><br>
        <button class="btn btn-info waves-effect waves-light" type="button" (click)="fileFoto.click();"><i class="fa fa-file"></i> Cambiar foto</button>
      </div>
    </div>
  </div>
</div>