<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de altas / Edición de usuarios</h4>
                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarUsuario(f)" >
                    <div class="my-container">
                        <mat-form-field>
                            <input matInput [(ngModel)]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del usuario" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="usuario.email" name="email" type="text" class="form-control" placeholder="Correo electrónico del usuario" required>
                        </mat-form-field>
                        <mat-form-field *ngIf="!usuario._id">
                            <input  matInput [(ngModel)]="usuario.password" name="password" type="password" class="form-control" placeholder="Password" required>
                        </mat-form-field>
                        <mat-form-field *ngIf="!usuario._id">
                            <input matInput  name="password2" type="password" class="form-control" placeholder="Confirmar Password" required compare="password">
                        </mat-form-field>
                        <!--========Combombox ROLE=========-->
                        <mat-form-field>
                            <mat-select [disabled]="usuario._id" placeholder="ROLE" [(ngModel)]="usuario.role" (selectionChange)="cambioRole( $event.value )" name="role" type="text">
                                <mat-option value="ADMIN_ROLE">ADMIN_ROLE</mat-option>
                                <mat-option value="PATIOADMIN_ROLE">PATIOADMIN_ROLE</mat-option>
                                <mat-option value="PATIO_ROLE">PATIO_ROLE</mat-option>
                                <mat-option value="AA_ROLE">AA_ROLE</mat-option>
                                <mat-option value="NAVIERA_ROLE">NAVIERA_ROLE</mat-option>
                                <mat-option value="TRANSPORTISTA_ROLE">TRANSPORTISTA_ROLE</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--========Combombox Empresas ligadas segun el ROL=========-->
                        <mat-form-field>
                            <mat-select placeholder="Seleccione una empresa" [(ngModel)]="usuario.empresas" name="empresas" required multiple>
                                <mat-option *ngFor="let empresa of empresas" [value]="empresa._id">
                                    {{ empresa.razonSocial }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    <a routerLink="/usuarios" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                   
                    <!-- <div class="form-group" *ngIf="!!forma.errors?.sonIguales && !forma.pristine">

                        <p class="text-danger">La contraseña es incorrecta</p>

                    </div> -->
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="card card-body">
                <h4 class="box-title m-b-0">Fotografía</h4>
                <p *ngIf="fotoTemporal; else notShow" class="text-danger">
                        <img (click)="fileFoto.click()"  [src]="usuario.img | imagen:'temp'" class="w150 img-circle pointer">
                    ¡Archivo Temporal, debe guardar el registro del usuario para confirmar!    
                </p>
                <ng-template #notShow>
                    <img (click)="fileFoto.click()" [src]="usuario.img | imagen" class="w150 img-circle pointer">
                </ng-template>
                <input (change)="onFileSelected($event)" type="file" style="display:none" name="fileFoto" accept="image/*" #fileFoto>
                <button class="btn btn-info waves-effect waves-light" type="button" (click)="fileFoto.click()"><i class="fa fa-file"></i> Cambiar foto</button>
            </div>
        </div>
</div>