<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarNaviera( input.value )" type="text" class="form-control" placeholder="Buscar naviera...">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fas fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/naviera','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i> 
                        Añadir nueva naviera
                    </button>
                </div>
                <h3 class="card-title">Navieras registradas ( <small>{{totalRegistros}}</small> )</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Razon Social</th>
                                <th>RFC</th>
                                <th>Calle</th>
                                <th>Numero Exterior</th>
                                <th>Numero Interior</th>
                                <th>Colonia</th>
                                <th>Municipio/Delegacion</th>
                                <th>Ciudad</th>
                                <th>Estado</th>
                                <th>Codigo Postal</th>
                                <th>Formato R1</th>
                                <th>Correo</th>
                                <th>Correo de Facturación</th>
                                <th>Credito</th>
                                <th>CAAT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let naviera of navieras">
                                <td>
                                    <button [routerLink]="['/naviera', naviera._id ]" class="btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button (click)="borrarRegistro( naviera )" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                                <td>{{naviera.razonSocial}}</td>
                                <td>{{naviera.rfc}}</td>
                                <td>{{naviera.calle}}</td>
                                <td>{{naviera.numeroExterior}}</td>
                                <td>{{naviera.numeroInterior}}</td>
                                <td>{{naviera.colonia}}</td>
                                <td>{{naviera.municipioDelegacion}}</td>
                                <td>{{naviera.ciudad}}</td>
                                <td>{{naviera.estado}}</td>
                                <td>{{naviera.cp}}</td>
                                <td>{{naviera.formatoR1}}</td>
                                <td>{{naviera.correo}}</td>
                                <td>{{naviera.correoFac}}</td>
                                <td>{{naviera.credito}}</td>
                                <td>{{naviera.caat}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                    <i class="fas fa-angle-left"></i> Anteriores
                </button>
                <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                    Siguientes <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>