<div class="row">
  <div class="col-lg-8">
    <div class="card">

      <h3 class="box-title m-b-0">Producto - Servicio: {{ productoServicio.descripcion }}</h3><br>
      <div class="card-body">
        <form [formGroup]="regForm" (ngSubmit)="guardarProductoServicio()" novalidate>
          <div class="form-body">
            <div class="col-md-12">
              <div class="card">

                <div class="my-container">
                  <mat-form-field>
                    <input matInput formControlName="codigo" name="codigo" type="text" class="form-control" placeholder="Codigo">
                    <mat-error *ngIf="codigo.touched && codigo.invalid">
                      <sup>*</sup>Por Favor Ingrese un codigo de Producto o Servicio
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="unidad" name="unidad" type="text" class="form-control" placeholder="Unidad">
                    <mat-error *ngIf="unidad.touched && unidad.invalid">
                      <sup>*</sup>Por Favor Ingrese una Unidad de Producto o Servicio
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="descripcion" name="descripcion" type="text" class="form-control" placeholder="Descripcion">
                    <mat-error *ngIf="descripcion.touched && descripcion.invalid">
                      <sup>*</sup>Por Favor Ingrese una descripcion de Producto o Servicio
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="valorUnitario" name="valorUnitario" type="text" class="form-control" placeholder="Valor Unitario">
                    <mat-error *ngIf="valorUnitario.touched && valorUnitario.invalid">
                      <sup>*</sup>Por Favor Ingrese un Valor Unitario
                    </mat-error>
                  </mat-form-field>

                  <!-- <mat-form-field>
                <input matInput formControlName="claveSAT" name="claveSAT" type="text" class="form-control"
                  placeholder="Clave SAT">
                <mat-error *ngIf="claveSAT.touched && claveSAT.invalid">
                  <sup>*</sup>Por Favor Ingrese una Clave SAT de Producto o Servicio
                </mat-error>
              </mat-form-field> -->

                  <!--========Combombox Claves SAT=========-->
                  <mat-form-field>
                    <mat-select placeholder="Seleccione una Clave SAT" formControlName="claveSAT" name="claveSAT">
                      <mat-option *ngFor="let claveSAT of clavesSAT" [value]="claveSAT._id">
                        {{ claveSAT.claveProdServ + ' - ' + claveSAT.descripcion }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="claveSAT.touched && claveSAT.invalid">
                      <sup>*</sup>Por favor seleccione una Clave SAT
                    </mat-error>
                  </mat-form-field>

                  <!--========Combombox Claves Unidad=========-->
                  <mat-form-field>
                    <mat-select placeholder="Seleccione una Unidad SAT" formControlName="unidadSAT" name="unidadSAT">
                      <mat-option *ngFor="let unidadSAT of clavesUnidad" [value]="unidadSAT._id">
                        {{ unidadSAT.claveUnidad + ' - ' + unidadSAT.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="unidadSAT.touched && unidadSAT.invalid">
                      <sup>*</sup>Por favor seleccione una Unidad SAT
                    </mat-error>
                  </mat-form-field>

                  <!-- <mat-form-field>
                <input matInput formControlName="unidadSAT" name="unidadSAT" type="text" class="form-control"
                  placeholder="Unidad SAT">
                <mat-error *ngIf="unidadSAT.touched && unidadSAT.invalid">
                  <sup>*</sup>Por Favor Ingrese una Unidad SAT de Producto o Servicio
                </mat-error>
              </mat-form-field> -->



                  <div class="table-responsive">
                    <!-- <h4 class="alert alert-success text-center">Impuestos</h4> -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">
                            <div *ngIf="regForm.get('TR') && regForm.get('impuesto') && regForm.get('tasaCuota')">
                              <button type="button" class="btn btn-success" [disabled]="!regForm.get('TR').valid ||
                    !regForm.get('impuesto').valid || !regForm.get('tasaCuota').valid" (click)="addImpuesto(TR.value, impuesto.value, tasaCuota.value, 'Tasa'); ">
                                +
                              </button>
                            </div>
                          </th>
                          <th scope="col-md-2">
                            <mat-form-field>
                              <mat-label>TR</mat-label>
                              <mat-select formControlName="TR">
                                <mat-option *ngFor="let t of TRs" [value]="t">
                                  {{t}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </th>
                          <th scope="col-md-2">
                            <mat-form-field>
                              <mat-label>Impuesto</mat-label>
                              <mat-select (selectionChange)="cambioImpuesto( $event.value )">
                                <mat-option *ngFor="let t of tipoImpuestos" [value]="t">
                                  {{t}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </th>
                          <!-- <th scope="col-md-2">
                            <mat-form-field>
                              <mat-label><b>Cve. Impuesto</b></mat-label>
                              <mat-select formControlName="cveImpuesto" aria-placeholder="Cve. Impuesto">
                                <mat-option value="001">001</mat-option>
                                <mat-option value="002">002</mat-option>
                                <mat-option value="003">003</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </th> -->
                          <th scope="col-md-2">
                            <mat-form-field>
                              <mat-label>TasaCuota</mat-label>
                              <input matInput formControlName="tasaCuota" name="tasaCuota" type="number" class="form-control" placeholder="tasaCuota">
                              <mat-error *ngIf="tasaCuota.touched && tasaCuota.invalid">
                                <sup>*</sup>Por Favor Ingrese una Tasa o Cuota
                              </mat-error>
                            </mat-form-field>
                          </th>
                        </tr>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">#</th>

                          <th scope="col">TR</th>
                          <th scope="col">Impuesto</th>
                          <th scope="col">Valor</th>

                        </tr>
                      </thead>
                      <tbody formArrayName="impuestos" *ngFor="let item of impuestos.controls; let i = index;">
                        <tr [formGroupName]="i">
                          <td>
                            <button type="button" (click)="quitar( i )" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                          </td>
                          <td scope="row">{{i+1}}</td>
                          <td>
                            {{item.get('TR').value}}
                          </td>
                          <td>
                            {{item.get('impuesto').value}}
                          </td>
                          <td>
                            <!-- {{item.get('valor').value | decimalrightpad: 4}} -->
                            {{item.get('tasaCuota').value}}
                            <!-- {{item.get('valor').value | iva}} -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-success waves-effect waves-light m-r-10" [disabled]="!regForm.dirty || regForm.invalid">
            <i class="fa fa-save"></i>
            Guardar
          </button>
          <button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
        </form>
      </div>
    </div>
  </div>
</div>