<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-11">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button (click)="exportAsXLSX()" class="btn btn-success m-r-10">
            <i class="fas fa-file-excel"></i>
          </button>
          <button matTooltip="Añadir nuevo Producto-Servicio" mat-mini-fab class="btn btn-primary" [routerLink]="['/producto-servicio/','nuevo']" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <h3 class="card-title">Productos-Servicios: ( <small>{{totalRegistros}}</small> )</h3>
        <div class="example-header mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
          </mat-form-field>
        </div>
        <br>
        <div class="example-container mat-elevation-z8">
        </div>
        <div class="catalogo-container mat-elevation-z8">
          <mat-table class="mat-table-medium" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button matTooltip="Editar Producto-Servicio" [routerLink]="['/producto-servicio/', row._id ]" class="btn btn-primary m-r-5">
                  <i class="fa fa-edit"></i>
                </button>
                <button matTooltip="Eliminar Producto-Servicio" (click)="borrarProductoServicio( row )" class="btn btn-danger m-r-5">
                  <i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="unidad">
              <mat-header-cell *matHeaderCellDef>Unidad</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.unidad}} </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.descripcion | capitalize: true}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valorUnitario">
              <mat-header-cell *matHeaderCellDef>Valor Unitario</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.valorUnitario | currency:'CAD':'$'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="claveSAT">
              <mat-header-cell *matHeaderCellDef>Clave SAT</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.claveSAT.descripcion | capitalize: true}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="unidadSAT">
              <mat-header-cell *matHeaderCellDef>Unidad SAT</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.unidadSAT.claveUnidad + ' - ' + row.unidadSAT.nombre | capitalize: true}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="impuestos">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Impuestos</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-select *ngIf="row.impuestos.length > 0 " class="form-control" [(ngModel)]="row.impuestos" name="impuestos">
                  <mat-option *ngFor="let i of row.impuestos" [value]="row.impuestos">
                    {{nombreImpuesto(i.impuesto) + ' ' + i.tasaCuota}}%
                  </mat-option>
                </mat-select>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fAlta">
              <mat-header-cell *matHeaderCellDef mat-sort-header>FAlta</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.fAlta | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>