<h2 mat-dialog-title>Documento Relacionado</h2>
<mat-dialog-content>
  <form [formGroup]="regForm" (ngSubmit)="relacionarDocumento()" novalidate>
    <div class="example-header mat-elevation-z8">
      <div class="my-container">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput formControlName="saldo" name="saldo" type="text" class="form-control" placeholder="Saldo">
          </mat-form-field>
        </div> <br>
        <div class="col-md-12">
          <mat-form-field>
            <input matInput formControlName="porPagar" name="porPagar" type="text" class="form-control"
              placeholder="Por pagar" (blur)="calcula(this.porPagar.value)">
              <mat-error *ngIf="porPagar.invalid">
                <sup>*</sup>El valor debe que ser mayor que 0 y diferente de {{this.porPagar.value}}.
              </mat-error>
          </mat-form-field>
        </div><br>
        <div class="col-md-12">
          <mat-form-field>
            <input matInput formControlName="saldoInsoluto" name="saldoInsoluto" type="text" class="form-control"
              placeholder="Saldo Insoluto">
              <div *ngIf="saldoInsoluto.hasError('saldoInsoluto')">El valor debe que ser mayor que 0</div>
          </mat-form-field>
        </div><br>
        <!-- <div class="col-md-12">
          <mat-form-field>
            <label for="email">Email</label>
            <input matInput formControlName="email" id="email"/>
            <div *ngIf="email.touched && email.hasError('email')">Invalid</div>
          </mat-form-field>
        </div> -->
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button *ngIf="this.saldo.value !== 0 && this.porPagar.value <= this.saldo.value" type="button" class="btn btn-success waves-effect waves-light m-r-10 m-l-10"
    [disabled]="regForm.invalid" (click)="relacionarDocumento()">
    <i class="fa fa-save"></i>
    Relacionar
  </button>
  <button class="btn btn-danger waves-effect waves-light" (click)="close('')">Cancelar</button>
</mat-dialog-actions>