<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Buque: {{ buque.nombre }}</h3><br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form [formGroup]="regForm" (ngSubmit)="guardarBuque()" novalidate>
                        <div class="my-container">
                            <!--========Combombox Transportistas=========-->
                            <mat-form-field>
                                <mat-select placeholder="Seleccione una naviera" formControlName="naviera"
                                    name="naviera">
                                    <mat-option *ngFor="let naviera of navieras"
                                        [value]="naviera._id">
                                        {{ naviera.razonSocial }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="nombre" name="nombre" type="text" class="form-control"
                                    placeholder="Nombre del buque">
                            </mat-form-field>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <a routerLink="/buques" class="btn btn-danger waves-effect waves-light">Regresar Catálogo</a>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>