<h2 mat-dialog-title>Asignar Factura</h2>

<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="facturaVacios" matInput name="facturaVacios" type="text" class="form-control"
      placeholder="Escribe el numero de Factura:" cdkFocusInitial>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" class="btn btn-success waves-effect waves-light m-r-10 m-l-10"
    (click)="asignarFacturaVacios()">
    <i class="fa fa-save"></i>
    Asignar
  </button>
  <button class="btn btn-danger waves-effect waves-light" (click)="close('')">Close</button>
</mat-dialog-actions>
