<div class="row animated fadeIn">
  <div class="col-md-12">
    <form [formGroup]="regForm" (ngSubmit)="guardarUsuario()" novalidate class="form p-t-20">
      <div class="row">
        <div class="col-md-5">
          <mat-card>
            <div class="card-body">
              <h4 class="card-title">Perfil del usuario</h4>
              <h6 class="card-subtitle">{{this.nombre.value}}</h6>
              <div class="form-group">
                <label>Nombre de Usuario</label>
                <div class="input-group">
                  <div><i class="ti-user"></i></div>
                  <mat-form-field>
                    <input matInput formControlName="nombre" type="text" placeholder="Nombre del usuario">
                    <mat-error *ngIf="nombre.touched && nombre.invalid && !nombre.errors?.minlength">
                      <sup>*</sup>Por Favor Ingrese un Nombre de Usuario
                    </mat-error>
                    <mat-error *ngIf="nombre.errors && nombre.errors['minlength']">
                      <sup>*</sup>El nombre de usuario debe contener al menos 5 caracteres<br>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <label>Correo electronico</label>
                <div class="input-group">
                  <div><i class="ti-email"></i></div>
                  <mat-form-field>
                    <input matInput formControlName="email" type="text" placeholder="Correo electrónico del usuario">
                    <mat-error *ngIf="email.touched && email.invalid">
                      <sup>*</sup>Por Favor Ingrese un Correo electrónico
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-success waves-effect waves-light m-r-10" [disabled]="regForm.pristine || regForm.invalid">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </mat-card>
        </div>

        <div class="col-md-3">
          <mat-card>
            <div class="card-body" align="center">
              <h4 class="card-title">Foto de perfil</h4>
              <h6 class="card-subtitle">{{this.nombre.value}}</h6>
              <p *ngIf="fotoTemporal; else notShow" class="text-danger">
                <img (click)="fileFoto.click()" [src]="img.value | imagen:'temp'" class="w150 img-circle pointer"> ¡Archivo Temporal, debe guardar el registro del usuario para confirmar!
              </p>
              <ng-template #notShow>
                <img (click)="fileFoto.click()" [src]="img.value | imagen:'usuario'" class="w150 img-circle pointer">
              </ng-template>
              <input (change)="onFileSelected($event)" type="file" style="display:none" name="fileFoto" accept="image/*" #fileFoto>
              <br><br>
              <button class="btn btn-info waves-effect waves-light" type="button" (click)="fileFoto.click(); "><i class="fa fa-file"></i> Cambiar foto</button>

            </div>
          </mat-card>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          <mat-card>
            <div class="card-body">
              <h4 class="card-title">Mis Empresas</h4>
              <div class="form-group" *ngFor="let empresa of listaEmpresas">
                <p class="form-control-static"> {{empresa.nombreComercial}} </p>
                <button [routerLink]="['/misclientes', empresa._id ]" class="btn btn-danger"> <i class="fa fa-pencil"></i> Ver clientes</button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

    </form>
  </div>
</div>