<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button matTooltip="Añadir nueva Agencia" mat-mini-fab class="btn btn-primary"  [routerLink]="['/agencias/agencia','nuevo']" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <h3 class="card-title">Agencias ( <small>{{totalRegistros}}</small> )</h3>
        <div class="example-header mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
          </mat-form-field>
        </div>
        <br>
        <div class="example-container mat-elevation-z8">
        </div>
        <div class="example-container mat-elevation-z8">
          <mat-table class="mat-table-big" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="actions" sticky>
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let agencia">
                <button  matTooltip="Editar Agencia" [routerLink]="['/agencias/agencia', agencia._id ]" class="btn btn-primary m-r-5">
                  <i class="fa fa-edit"></i>
                </button>
                <button  matTooltip="Eliminar Agencia" (click)="borrarAgencia(agencia)" class="btn btn-danger m-r-5">
                  <i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="img">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell matTooltip="Imagen de Agencia" *matCellDef="let row"> <img [src]="row.img | imagen:'cliente'"
                  class="img-50 img-circle pointer"> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rfc">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RFC</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.rfc}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="razonSocial">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.razonSocial}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombreComercial">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Comercial</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nombreComercial}} </mat-cell>
            </ng-container>



            <ng-container matColumnDef="calle">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Calle</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.calle}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noExterior">
              <mat-header-cell *matHeaderCellDef mat-sort-header>No. Ext.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.noExterior}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noInterior">
              <mat-header-cell *matHeaderCellDef mat-sort-header>No. Int.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.noInterior}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="colonia">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Colonia</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.colonia}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="municipio">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.municipio}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ciudad">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ciudad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cp">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CP</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.cp}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="formatoR1">
              <mat-header-cell *matHeaderCellDef>Formato R1</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a *ngIf="row.formatoR1" [href]="row.formatoR1 | imagen:'cliente'" download="R1" target="_blank">
                  <img src="\assets\images\icon\pdf_32x32.png">
                </a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="correo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="correoFac">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Correo Fact.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.correoFac}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="credito">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Credito</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <i *ngIf="row.credito == true; else notShow" class="fa fa-check" aria-hidden="true"></i>
                <ng-template #notShow>
                  <i class="fas fa-times" aria-hidden="true"></i>
                </ng-template>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="patente">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Patente</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.patente}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>