
<div class="col-lg-2 col-lg-2">
  <mat-form-field>
    
    <mat-select  placeholder="Selecciona un Nivel" [(value)]="nivelSelected" (valueChange) = draw(nivelSelected)>
      <mat-option value="N1">
        Nivel 1
      </mat-option>
      <mat-option value="N2">
        Nivel 2
      </mat-option>
      <mat-option value="N3">
        Nivel 3
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  
  <div id="contenedor">
  <mat-tab-group class="header-less-tabs"> 
    <mat-tab>
  <canvas #canvas  id="canvass" width="910" height="760"></canvas>
  </mat-tab>
  </mat-tab-group> 
  </div>