<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Nivel 1
      </ng-template>
      <canvas #canvas  width="975" height="850"></canvas>
    </mat-tab>
<mat-tab>
    <ng-template mat-tab-label>
        Nivel 2
      </ng-template>
      <canvas #canvasN2 width="975" height="850"></canvas>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Nivel 3
          </ng-template>
          <canvas #canvasN3 width="975" height="850"></canvas>
        </mat-tab>
</mat-tab-group>