/* #lienzo{
    background: url('/assets/images/grid.png');
} */

canvas {
    border-style: solid;
    margin: 0 auto;
    display: block;
    border: 2px solid #000000;
}
.header-less-tabs.mat-tab-group .mat-tab-header {
    display: none;
  }