<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="card-body mat-elevation-z8" *ngIf="!cargando">
  <div class="row pull-right p-b-5">
    <button class="btn btn-mdb-color waves-effect waves-light" (click)="openAllFirst()">
      <i class="fas fa-arrows-alt-v"></i>
    </button>
  </div>
  <mat-accordion [multi]="true" #firstAccordion="matAccordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Maniobra
        </mat-panel-title>
        <mat-panel-description>
          {{contenedor.value}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="regForm" novalidate>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Folio</mat-label>
            <input matInput formControlName="folio" type="text">
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Carga-Descarga</mat-label>
            <input matInput formControlName="cargaDescarga" type="text">
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Patio</mat-label>
            <input matInput formControlName="patio" type="text">
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Estatus</mat-label>
            <input matInput formControlName="estatus" type="text">
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Contenedor</mat-label>
            <input matInput formControlName="contenedor" type="text">
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Agente Aduanal</mat-label>
            <mat-select formControlName="agencia" type="text">
              <mat-option *ngFor="let agente of agencias" [value]="agente._id">
                {{agente.razonSocial}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Transportista</mat-label>
            <mat-select formControlName="transportista" type="text" placeholder="Seleccione un transportista"
              (selectionChange)="cargaOperadores($event.value)">
              <mat-option *ngFor="let transportista of transportistas" [value]="transportista._id">
                {{transportista.razonSocial}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="transportista.invalid">
              <sup>*</sup>Debe seleccionar un transportista
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>Camion</mat-label>
            <mat-select formControlName="camion" type="text" placeholder="Seleccione un camion">
              <mat-option *ngFor="let camion of camiones" [value]="camion._id">
                {{camion.placa + ' | ' + camion.noEconomico}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="camion.invalid">
              <sup>*</sup>Debe seleccionar un camion
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group has-success">
          <mat-form-field>
            <mat-label>operador</mat-label>
            <mat-select formControlName="operador" type="text" placeholder="Seleccione un operador">
              <mat-option *ngFor="let operador of operadores" [value]="operador._id">
                {{operador.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="operador.invalid">
              <sup>*</sup>Debe seleccionar un operador
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Llegada
        </mat-panel-title>
        <mat-panel-description>
          {{espera}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="regForm" novalidate>
        <div class="form-group has-success">
          <label class="control-label"><b>Fecha y Hora de llegada</b></label>
          <div>
            <mat-form-field class="inputpersonalizado">
              <input matInput formControlName="fLlegada" [matDatepicker]="pickerfLlegada" type="text"
                class="form-control" placeholder="Fecha de llegada">
              <mat-datepicker-toggle matSuffix [for]="pickerfLlegada"></mat-datepicker-toggle>
              <mat-datepicker #pickerfLlegada></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field class="time">
              <input matInput formControlName="hLlegada" type="time" placeholder="Hora Llegada">
            </mat-form-field>
          </div>
        </div>
        <div class="form-group has-success">
          <label class="control-label"><b>Hora de Entrada</b></label>
          <div>
            <mat-form-field class="time">
              <input matInput formControlName="hEntrada" type="time" placeholder="Hora Entrada" (focus)="ponHora()">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lavado / Reparación
        </mat-panel-title>
        <mat-panel-description>
          <p *ngIf="lavado.value">Con Lavado —</p>
          <p *ngIf="reparaciones.length > 0">— Reparaciones ({{reparaciones.length}}) </p>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="regForm" novalidate>
        <h4 class="box-title"><b>Lavado</b></h4>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <label class="control-label"><b>Tipo Lavado :</b></label>
              <mat-select formControlName="lavado" tabindex="1">
                <mat-option *ngFor="let tipo of tiposLavado" [value]="tipo.id">
                  {{tipo.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md">
            <mat-form-field>
              <label class="control-label"><b>Observaciones :</b></label>
              <textarea matInput formControlName="lavadoObservacion" rows="3" cols="40"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md">
            <label class="control-label"><b>Fecha y Hora de Finalizacion Lavado</b></label>
            <mat-form-field class="inputpersonalizado">
              <mat-label>Fecha Lavado</mat-label>
              <input matInput formControlName="fIniLavado" [matDatepicker]="pickerfIniLavado" type="text"
                placeholder="Fecha de Lavado">
              <mat-datepicker-toggle matSuffix [for]="pickerfIniLavado"></mat-datepicker-toggle>
              <mat-datepicker #pickerfIniLavado></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Hora Inicio Lavado</mat-label>
              <input matInput formControlName="hIniLavado" type="time" placeholder="Hora Inicio Lavado"
                (focus)="ponHoraIniLavado()">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hora Finalización Lavado</mat-label>
              <input matInput formControlName="hFinLavado" type="time" placeholder="Hora Finalización Lavado"
                (focus)="ponHoraFinLavado()">
            </mat-form-field>
          </div>
          <div class="col-md">
            <button *ngIf="lavado.value" type="button" [routerLink]="['/fotos',  _id.value]"
              [queryParams]="{opcion: 'fotos_lavado'}" class="btn btn-primary">
              <i class="fas fa-camera-retro"></i>
              Fotos Lavado
            </button>
          </div>
        </div>
        <br>
        <h4 class="box-title"><b>Cotizaciones de Lavado de Terceros</b></h4><br>
        <div class="row">
          <div class="col-md">
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [yaCargo]="yaCargo"
              [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
              <h5>Suelta los archivos aquí</h5>
              <img src="assets/images/drop-images.png">
            </div>
            <input class="hidden" (change)="seleccionImagen($event.target.files)" type="file" multiple />
          </div>
          <div class="col-md">
            <button (click)="cargarImagenes()" class="btn btn-success">Cargar Cotización</button>
            <button (click)="limpiarArchivos()" class="btn btn-danger m-l-5">Limpiar</button>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre archivo</th>
                  <th>Cargado</th>
                  <th>Tamaño</th>
                  <th>Progreso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let archivo of archivos">
                  <th>{{archivo.nombreArchivo}}</th>
                  <th><i *ngIf="archivo.progreso === 100;" class="fa fa-check" aria-hidden="true"></i></th>
                  <th>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</th>
                  <th>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div><br><br>
        <h4 class="box-title"><b>Cotizaciones de Lavado de REIM Container Park</b></h4><br>
        <div class="row">
          <div class="col-md">
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [yaCargo]="yaCargo"
              [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
              <h5>Suelta los archivos aquí</h5>
              <img src="assets/images/drop-images.png">
            </div>
            <input class="hidden" (change)="seleccionImagen($event.target.files)" type="file" multiple />
          </div>
          <div class="col-md">
            <button (click)="cargarImagenes()" class="btn btn-success">Cargar Cotización</button>
            <button (click)="limpiarArchivos()" class="btn btn-danger m-l-5">Limpiar</button>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre archivo</th>
                  <th>Cargado</th>
                  <th>Tamaño</th>
                  <th>Progreso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let archivo of archivos">
                  <th>{{archivo.nombreArchivo}}</th>
                  <th><i *ngIf="archivo.progreso === 100;" class="fa fa-check" aria-hidden="true"></i></th>
                  <th>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</th>
                  <th>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div><br><br>
        <h4 class="box-title"><b>Reparaciones</b></h4>
        <div class="row">
          <div class="col-md">
            <!-- <mat-form-field>
              <mat-select #tipoReparacion tabindex="1">
                <mat-option *ngFor="let tipo of tiposReparaciones" [value]="tipo._id">
                  {{tipo.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <table matNativeControl class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"><b>#</b></th>
                    <th scope="col"><b>Reparación</b></th>
                  </tr>
                </thead>
                <tbody formArrayName="reparaciones" *ngFor="let item of reparaciones.controls; let i = index;">
                  <tr [formGroupName]="i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{reparaciones.controls[i].get('reparacion').value}}</td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md">
            <mat-form-field>
              <label class="control-label"><b>Observaciones Reparacioón:</b></label>
              <textarea matInput formControlName="reparacionesObservacion" rows="3" cols="40"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md">
            <button *ngIf="reparaciones.controls" type="button" [routerLink]="['/fotos',_id.value]"
              [queryParams]="{opcion: 'fotos_reparacion'}" class="btn btn-primary">
              <i class="fas fa-camera-retro"></i>
              Fotos Reparacion
            </button><br>
            <mat-label><b>Permitir Ver Fotos Naviera</b></mat-label>
            <mat-slide-toggle formControlName="mostrarFotosRNaviera" color="primary" class="m-l-5" (change)="habilitaMostrarFotosReparacion(maniobra, $event, 'Naviera')" [checked]="true"></mat-slide-toggle><br>
            <mat-label><b>Permitir Ver Fotos AA</b></mat-label>
            <mat-slide-toggle formControlName="mostrarFotosRAA" color="primary" class="m-l-5" (change)="habilitaMostrarFotosReparacion(maniobra, $event, 'AA')" [checked]="true"></mat-slide-toggle>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <h4 class="control-label"><b>Fecha y Hora de Reparaciones</b></h4>
            <mat-form-field class="inputpersonalizado">
              <mat-label><b>Fecha Inicio Reparaciones</b></mat-label>
              <input matInput formControlName="fIniReparacion" [matDatepicker]="pickerfIniReparacion" type="text"
                placeholder="Fecha Inicio Reparaciones">
              <mat-datepicker-toggle matSuffix [for]="pickerfIniReparacion"></mat-datepicker-toggle>
              <mat-datepicker #pickerfIniReparacion></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label><b>Hora Inicio Reparaciones</b></mat-label>
              <input matInput formControlName="hIniReparacion" type="time" placeholder="Hora Inicio Reparación"
                (focus)="ponHoraIniReparacion()">
            </mat-form-field>
            <mat-form-field class="inputpersonalizado">
              <mat-label><b>Fecha Fin Reparaciones</b></mat-label>
              <input matInput formControlName="fFinReparacion" [matDatepicker]="pickerfFinReparacion" type="text"
                placeholder="Fecha Fin Reparaciones">
              <mat-datepicker-toggle matSuffix [for]="pickerfFinReparacion"></mat-datepicker-toggle>
              <mat-datepicker #pickerfFinReparacion></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label><b>Hora Finalización Reparaciones</b></mat-label>
              <input matInput formControlName="hFinReparacion" type="time" placeholder="Hora Finalización Reparación"
                (focus)="ponHoraFinReparacion()">
            </mat-form-field>
          </div>
        </div><br><br>
        <h4 class="box-title"><b>Grado y Salida</b></h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label><b>Grado Contenedor</b></mat-label>
              <mat-select formControlName="grado">
                <mat-option *ngFor="let grado of grados" [value]="grado">
                  {{grado}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label><b>Hora Descarga</b></mat-label>
              <input matInput formControlName="hDescarga" type="time" (focus)="ponHora()">
            </mat-form-field>
          </div>
        </div><br><br>
        <h4 class="box-title"><b>Cotizaciones de Reparación de Terceros</b></h4><br>
        <div class="row">
          <div class="col-md">
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [yaCargo]="yaCargo"
              [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
              <h5>Suelta los archivos aquí</h5>
              <img src="assets/images/drop-images.png">
            </div>
            <input class="hidden" (change)="seleccionImagen($event.target.files)" type="file" multiple />
          </div>
          <div class="col-md">
            <button (click)="cargarImagenes()" class="btn btn-success">Cargar Cotización</button>
            <button (click)="limpiarArchivos()" class="btn btn-danger m-l-5">Limpiar</button>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre archivo</th>
                  <th>Cargado</th>
                  <th>Tamaño</th>
                  <th>Progreso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let archivo of archivos">
                  <th>{{archivo.nombreArchivo}}</th>
                  <th><i *ngIf="archivo.progreso === 100;" class="fa fa-check" aria-hidden="true"></i></th>
                  <th>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</th>
                  <th>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div><br><br>
        <h4 class="box-title"><b>Cotizaciones de Reparación de REIM Container Park</b></h4><br>
        <div class="row">
          <div class="col-md">
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [yaCargo]="yaCargo"
              [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
              <h5>Suelta los archivos aquí</h5>
              <img src="assets/images/drop-images.png">
            </div>
            <input class="hidden" (change)="seleccionImagen($event.target.files)" type="file" multiple />
          </div>
          <div class="col-md">
            <button (click)="cargarImagenes()" class="btn btn-success">Cargar Cotización</button>
            <button (click)="limpiarArchivos()" class="btn btn-danger m-l-5">Limpiar</button>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre archivo</th>
                  <th>Cargado</th>
                  <th>Tamaño</th>
                  <th>Progreso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let archivo of archivos">
                  <th>{{archivo.nombreArchivo}}</th>
                  <th><i *ngIf="archivo.progreso === 100;" class="fa fa-check" aria-hidden="true"></i></th>
                  <th>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</th>
                  <th>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
 <button class="btn btn-success" (click)="atras()"> Regresar</button>

  <!-- <div class="col-12">
    <div class="card">
      <div class="card-body mat-elevation-z8">
        <h3 class="card-title">Detalle de Maniobra</h3>
        Angel

      </div><br>
      <div class="card-body mat-elevation-z8">
        <h3 class="card-title">Detalle de Maniobra</h3>
        Javier

      </div><br>
      <div class="card-body mat-elevation-z8">
        <h3 class="card-title">Detalle de Maniobra</h3>
        Puc

      </div><br>
      <div class="card-body mat-elevation-z8">
        <h3 class="card-title">Detalle de Maniobra</h3>
        Yama
      </div><br>
    </div>
  </div> -->
</div>