<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarTransportista( input.value )" type="text" class="form-control" placeholder="Buscar transportista...">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fas fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/transportista','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                <i class="fa fa-plus"></i> 
                Añadir nuevo transportista
              </button>
                </div>
                <h3 class="card-title">Transportistas registrados ( <small>{{totalRegistros}}</small> )</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Razon Social</th>
                                    <th>RFC</th>
                                    <th>Calle</th>
                                    <th>Numero Exterior</th>
                                    <th>Numero Interior</th>
                                    <th>Colonia</th>
                                    <th>Municipio/Delegacion</th>
                                    <th>Ciudad</th>
                                    <th>Estado</th>
                                    <th>Codigo Postal</th>
                                    <th>Formato R1</th>
                                    <th>Correo</th>
                                    <th>Correo de Facturación</th>
                                    <th>Credito</th>
                                    <th>CAAT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transportista of transportistas">
                                    <td>
                                        <button [routerLink]="['/transportista', transportista._id ]" class="btn btn-primary">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button (click)="borrarTransportista( transportista )" class="btn btn-danger">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                    <td>{{transportista.razonSocial}}</td>
                                    <td>{{transportista.rfc}}</td>
                                    <td>{{transportista.calle}}</td>
                                    <td>{{transportista.noExterior}}</td>
                                    <td>{{transportista.noInterior}}</td>
                                    <td>{{transportista.colonia}}</td>
                                    <td>{{transportista.municipio}}</td>
                                    <td>{{transportista.ciudad}}</td>
                                    <td>{{transportista.estado}}</td>
                                    <td>{{transportista.cp}}</td>
                                    <td>
                                        <a *ngIf="transportista.formatoR1" [href]="transportista.formatoR1 | imagen:'cliente'" download="Reporte2Mayo2010" target="_blank">
                                            <img src="\assets\images\icon\pdf_32x32.png">
                                        </a>
                                    </td>
                                    <td>{{transportista.correo}}</td>
                                    <td>{{transportista.correoFac}}</td>
                                    <td>{{transportista.credito}}</td>
                                    <td>{{transportista.caat}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                <i class="fas fa-angle-left"></i> Anteriores
                </button>
                <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                    Siguientes <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
