<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Contenedor: {{ contenedor.contenedor }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarContenedor(f)">
                        <div class="my-container">
                            <mat-form-field>
                                <input matInput [(ngModel)]="contenedor.contenedor" name="contenedor" type="text" class="form-control" placeholder="Numero del contenedor" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="contenedor.tipo" name="tipo" type="text" class="form-control" placeholder="Tipo de contenedor" required>
                            </mat-form-field>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a routerLink="/contenedores" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>