<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Proveedor: {{ proveedor.razonSocial }}</h3><br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form [formGroup]="regForm" (ngSubmit)="guardarProveedor()" novalidate>
            <div class="my-container">
              <mat-form-field>
                <input matInput formControlName="rfc" name="rfc" type="text" class="form-control" placeholder="RFC del proveedor">
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="razonSocial" name="razonSocial" type="text" class="form-control" placeholder="Nombre del proveedor">
                <mat-error *ngIf="razonSocial.touched && razonSocial.invalid">
                  <sup>*</sup>Por Favor Ingrese un Nombre del proveedor
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="alias" name="alias" type="text" class="form-control" placeholder="Alias del proveedor">
                <mat-error *ngIf="alias.touched && alias.invalid">
                  <sup>*</sup>Por Favor Ingrese un Alias para el proveedor
                </mat-error>
              </mat-form-field>

              <mat-checkbox formControlName="activo" [(ngModel)]="act" class="form-control" name="activo" placeholder="Activo">
                Activo
              </mat-checkbox>
            </div>
            <button type="submit" class="btn btn-primary btn-success waves-effect waves-light m-r-10" [disabled]="regForm.pristine || regForm.invalid">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
            <!-- <a routerLink="/buques" class="btn btn-danger waves-effect waves-light">Regresar</a> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>