<div class="row animated fadeIn">
  <div class="col-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0"> Clave - Producto - Servicio: {{ ClaveUnidadServicio.claveUnidad }}</h3><br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form [formGroup]="regForm" (ngSubmit)="guardarClaveProductoServicio()" novalidate>
            <div class="my-container">
              <mat-form-field>
                <input matInput formControlName="claveUnidad" name="claveUnidad" type="text" class="form-control"
                  placeholder="Clave Unidad">
                <mat-error *ngIf="claveUnidad.touched && claveUnidad.invalid">
                  <sup>*</sup>Por Favor Ingrese Clave Producto Servicio
                </mat-error>
              </mat-form-field>


              <mat-form-field>
                <input matInput formControlName="nombre" name=" nombre" type="text"
                  class="form-control" placeholder="Nombre">
                <mat-error *ngIf="nombre.touched &&  nombre.invalid">
                  <sup>*</sup>Por Favor Ingrese el Nombre
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="descripcion" name="descripcion" type="text" class="form-control"
                  placeholder="Descripcion">
                <mat-error *ngIf="descripcion.touched && descripcion.invalid">
                  <sup>*</sup>Por Favor Ingrese una descripcion de Clave Unidad
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="nota" name="nota" type="text"
                  class="form-control" placeholder="Nota">
                <mat-error *ngIf="nota.touched &&   nota.invalid">
                  <sup>*</sup>Por Favor Ingrese Nota
                </mat-error>
              </mat-form-field>

           </div>

            <button type="submit" class="btn btn-primary btn-success waves-effect waves-light m-r-10"
              [disabled]="!regForm.dirty || regForm.invalid">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>