<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <!-- <button (click)="exportAsXLSX()" class="btn btn-success m-r-5">
                        <i class="fas fa-file-excel"></i> Exportar Excel
                    </button>
                    <button [routerLink]="['/buque2','nuevo']" type="button"
                        class="btn btn-info waves-effect waves-light m-r-5">
                        <i class="fa fa-plus"></i>
                        Añadir nuevo buque
                    </button> -->
        </div>
        <h3 class="card-title">Contenedores con Lavado Reparación : ( <small>{{totalRegistros}}</small> )</h3>
        <div class="example-header mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
          </mat-form-field>
        </div>
        <br>
        <div class="example-container mat-elevation-z8">
        </div>
        <div class="example-container mat-elevation-z8">
          <mat-table class="mat-table-medium" #table [dataSource]="dataSource" matSort>
            
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button [routerLink]="['/maniobras/', row._id,'detalle']" class="btn btn-sm btn-info m-r-5">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Naviera">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Naviera</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.viaje?.naviera.razonSocial}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Contenedor">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Contenedor</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.contenedor}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Tipo">
              <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Estado">
              <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Cliente">
              <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.cliente?.razonSocial}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="A.A.">
              <mat-header-cell *matHeaderCellDef>A.A.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.agencia?.razonSocial}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Lavado">
              <mat-header-cell *matHeaderCellDef>Lavado</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.lavado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FotosLavado">
              <mat-header-cell *matHeaderCellDef>Fotos Lavado</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- <button [routerLink]="['/fotos', 'params', {id: row._id, opcion: 'fotos_lavado'}]" class="btn btn-primary">
                  <i class="fas fa-camera-retro"></i>
                  Fotos
                </button> -->
                <button [routerLink]="['/fotos',row._id]" [queryParams]="{opcion: 'fotos_lavado'}" class="btn btn-primary">
                <i class="fas fa-camera-retro"></i>
                Fotos
              </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Reparaciones">
              <mat-header-cell *matHeaderCellDef>Reparaciones</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.reparacion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FotosReparacion">
              <mat-header-cell *matHeaderCellDef>Fotos Reparacion</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button *ngIf="mostrarFotosReparaciones(row)" [routerLink]="['/fotos', row._id]" [queryParams]="{opcion: 'fotos_reparacion'}" class="btn btn-primary">
                  <i class="fas fa-camera-retro"></i>
                  Fotos
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Grado">
              <mat-header-cell *matHeaderCellDef>Grado</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.grado}} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="fAlta">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>FAlta</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.fAlta | date:'dd/MM/yyyy'}} </mat-cell>
                        </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>