<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarSolicitudes( input.value )" type="text" class="form-control" placeholder="Buscar Solicitudes...">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button [routerLink]="['/solicitud_descarga','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
          <i class="fa fa-plus"></i> 
          Nueva Solicitud Descarga
        </button>
        </div>
        <h3 class="card-title">Solicitudes de descarga registrados ( <small>{{totalRegistros}}</small> )</h3>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>Fecha Solicitud</th>
              <th>Agencia</th>
              <th>Naviera</th>
              <th>Cliente</th>
              <th>Viaje</th>
              <th>Buque</th>
              <th>observaciones</th>
              <th>Contenedores</th>
              <th>Estatus</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sol of solicitudes">
              <td>{{sol.fAlta | date:"dd-MM-yyyy"}}</td>
              <td>{{sol.agencia.razonSocial}}</td>
              <td>{{sol.naviera.razonSocial}}</td>
              <td>{{sol.cliente.razonSocial}}</td>
              <td>{{sol.viaje.viaje}}</td>
              <td>{{sol.buque.nombre}}</td>
              <td>{{sol.observaciones}}</td>
              <td>
                <p *ngFor="let cont of sol.contenedores">
                  {{cont.maniobra.contenedor}} <br> Tipo: {{cont.maniobra.tipo}}
                </p>
              </td>
              <td>{{sol.estatus}}</td>
              <td>
                <button *ngIf="sol.estatus==='NA'" [routerLink]="['/solicitud_descarga', sol._id ]" class="btn btn-primary">
                  <i class="fa fa-edit"> Editar</i>
                </button>
                <button *ngIf="sol.estatus==='APROBADA'" [routerLink]="['/solicitud_descarga', sol._id ]" class="btn btn-primary">
                  <i class="fa fa-edit"> Ver Datos</i>
                </button>
                <button *ngIf="sol.estatus==='NA'" (click)="borrarSolicitud( sol )" class="btn btn-danger">
                  <i class="fa fa-trash-o"> Borrar</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>