<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Solicitud de descarga</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="regForm" (ngSubmit)="guardarSolicitud()" novalidate>
          <div class="form-body">
            <h3 class="card-title">Datos generales</h3>
            <hr>
            <div class="row p-t-20">
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Naviera</mat-label>
                  <mat-select formControlName="naviera" (selectionChange)="cargarBuques($event)" type="text"
                    placeholder="Seleccione una naviera">
                    <mat-option *ngFor="let nav of navieras" [value]="nav._id">
                      {{nav.nombreComercial}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccione una naviera.</mat-hint>
                  <mat-error *ngIf="naviera.touched && naviera.hasError['required']">Debe seleccionar una naviera
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field *ngIf="navieraMELFI">
                  <mat-label>Buque</mat-label>
                  <mat-select formControlName="buque" (selectionChange)="cargarViajes($event)" type="text"
                    placeholder="Seleccione un buque">
                    <mat-option *ngFor="let buque of buques" [value]="buque._id">
                      {{buque.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccione un buque.</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="!navieraMELFI">
                  <mat-label>Nombre Buque</mat-label>
                  <input matInput formControlName="nombreBuque" type="text" placeholder="Nombre del Buque">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field *ngIf="navieraMELFI">
                  <mat-label>Viaje</mat-label>
                  <mat-select formControlName="viaje" (selectionChange)="cargarContenedores($event)" type="text"
                    placeholder="Seleccione un viaje">
                    <mat-option *ngFor="let viaje of viajes" [value]="viaje._id">
                      {{viaje.viaje}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccione un viaje.</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="!navieraMELFI">
                  <mat-label>No. Viaje</mat-label>
                  <input matInput formControlName="noViaje" type="text" placeholder="Número de Viaje">
                </mat-form-field>
              </div>
            </div>


            <div class="row p-t-20">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Agencia</mat-label>
                  <mat-select [(ngModel)]="agenciaDescargaSelected" formControlName="agencia" type="text"
                    (selectionChange)="cargaClientes($event)" placeholder="Seleccione un agente">
                    <mat-option *ngFor="let ag of agencias" [value]="ag._id">
                      {{ag.nombreComercial}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccione una Agencia Aduanal.</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Cliente</mat-label>
                  <mat-select formControlName="cliente" type="text" placeholder="Seleccione un cliente">
                    <mat-option *ngFor="let cli of clientes" [value]="cli._id">
                      {{cli.nombreComercial}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccione un cliente.</mat-hint>
                </mat-form-field>
              </div>
              <div class="sinpadding"> 
                  <button class="user" matTooltip="Agregar Cliente" (click)="nuevoCliente()" class="btn btn-info btn-sm">
                    <i class="fa fa-user"></i>
                  </button>
               </div>
              <div class="col-md-2">
                <label class="control-label">Facturar a: </label>
                <br>
                <mat-radio-group class="example-radio-group" formControlName="facturarA"
                  (change)="onChangeFacturarA($event)">
                  <mat-radio-button class="example-radio-button" *ngFor="let facturaA of listaFacturarA"
                    [value]="facturaA">
                    {{facturaA}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <h3 class="box-title m-t-40">Datos de Facturación</h3>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>RFC</mat-label>
                  <input matInput type="text" formControlName="rfc">
                </mat-form-field>
              </div>
              <div class="col-md-8">
                <mat-form-field>
                  <mat-label>Razón Social</mat-label>
                  <input matInput type="text" formControlName="razonSocial">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">

                <mat-form-field>
                  <mat-label>Calle</mat-label>
                  <input matInput type="text" formControlName="calle">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>No. Exterior</mat-label>
                  <input matInput type="text" formControlName="noExterior">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>No. Interior</mat-label>
                  <input matInput type="text" formControlName="noInterior">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Colonia</mat-label>
                  <input matInput type="text" formControlName="colonia">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Municipio</mat-label>
                  <input matInput type="text" formControlName="municipio">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Ciudad</mat-label>
                  <input matInput type="text" formControlName="ciudad">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Estado</mat-label>
                  <input matInput type="text" formControlName="estado">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>C.P.</mat-label>
                  <input matInput type="text" formControlName="cp">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Correo Facturación</mat-label>
                  <textarea matInput formControlName="correoFac" rows="3" cols="40" class="form-control"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-checkbox formControlName="credito" class="form-control " placeholder="Credito"
                  (change)="onChangeCredito($event)">
                  Credito
                </mat-checkbox>
                <mat-error *ngIf="rutaComprobante.touched && rutaComprobante.invalid">
                  Cargar archivo de Comprobante de Pago.
                </mat-error>
              </div>
              <div class="col-md-4">
                <div class="form-group" *ngIf="!credito.value">
                  <mat-label>Anexar Comprobante de pago</mat-label>
                  <mat-form-field>
                    <input matInput formControlName="rutaComprobante">
                  </mat-form-field>
                  <input *ngIf="!aprobada" (change)="onFilePDFComprobanteSelected($event)" type="file" accept=".pdf">
                  <p *ngIf="temporalComprobante; else notShow" class="text-danger">
                    <a [href]="rutaComprobante.value | imagen:'solicitud'" target="_blank">
                      <img src="\assets\images\icon\pdf.png" class="w70 img-circle pointer">
                    </a><br>
                    <!-- ¡Archivo Temporal, debe guardar el registro del usuario para confirmar! -->
                  </p>
                  <ng-template #notShow>
                    <a *ngIf="rutaComprobante.value" [href]="rutaComprobante.value | imagen:'solicitud'"
                      target="_blank">
                      <img src="\assets\images\icon\pdf.png" class="w70 img-circle pointer">
                    </a>
                  </ng-template>
                </div>
              </div>
            </div>
            <h3 class="box-title m-t-40">Detalles de la descarga</h3>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Correo </mat-label>
                  <textarea matInput formControlName="correo" rows="3" cols="40"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-3 ">
                <mat-form-field>
                  <mat-label>Observaciones Descarga </mat-label>
                  <textarea matInput formControlName="observaciones" rows="3" cols="40"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-label>Anexar BL</mat-label>
                <input *ngIf="!aprobada" (change)="onFilePDFBLSelected($event)" type="file" accept=".pdf">
                <p *ngIf="temporalBL; else notShow" class="text-danger">
                  <a [href]="rutaBL.value | imagen:'solicitud'" target="_blank">
                    <img src="\assets\images\icon\pdf.png" class="w70 img-circle pointer">
                  </a><br> ¡Archivo Temporal, debe guardar el registro del usuario para confirmar!
                </p>
                <ng-template #notShow>
                  <a *ngIf="rutaBL.value" [href]="rutaBL.value | imagen:'solicitud'" target="_blank">
                    <img src="\assets\images\icon\pdf.png" class="w70 img-circle pointer">
                  </a>
                </ng-template>
              </div>
            </div>

            <h3 class="box-title m-t-40">Detalles del contenedor</h3>
            <hr>
            <div class="row">
              <div class="col-md-2">
                <mat-form-field *ngIf="navieraMELFI">
                  <mat-label>Contenedor</mat-label>
                  <mat-select formControlName="maniobraTemp" (selectionChange)="cambiaManiobra($event)">
                    <mat-option *ngFor="let cont of contenedoresXViaje" [value]="cont">
                      {{cont.contenedor}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!navieraMELFI">
                  <input matInput type="text" formControlName="contenedorTemp">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Tipo</mat-label>
                  <input matInput type="text" formControlName="tipoTemp">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Transportista</mat-label>
                  <mat-select formControlName="transportistaTemp">
                    <mat-option *ngFor="let transportista of transportistas" [value]="transportista">
                      {{transportista.nombreComercial}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="estadoTemp">
                    <mat-option *ngFor="let estado of estadosContenedor" [value]="estado">
                      {{estado}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Patio</mat-label>
                  <mat-select formControlName="patioTemp">
                    <mat-option *ngFor="let patio of patios" [value]="patio">
                      {{patio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button *ngIf="!aprobada" (click)="agregarContenedor()" type="button" class="btn btn-success m-r-10"> <i
                    class="fa fa-check"></i> Añadir</button>
              </div>
              <div *ngIf="contenedores.controls.length > 0" class="alert alert-danger">
                <strong>Se enviará un correo a {{this.correo.value}} y a el correo de transportista(s)</strong>
              </div>
            </div>
            <!--/span-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <table matNativeControl class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Contenedor</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Transportista</th>
                        <th scope="col">Correo Transportista</th>
                        <th scope="col">Patio</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="contenedores" *ngFor="let item of contenedores.controls; let i = index;">
                      <tr [formGroupName]="i">
                        <td scope="row">{{i+1}}</td>
                        <td>{{this.contenedores.controls[i].get('contenedor').value}}</td>
                        <td>{{this.contenedores.controls[i].get('tipo').value}}</td>
                        <td>{{this.contenedores.controls[i].get('peso').value}}</td>
                        <td>{{this.contenedores.controls[i].get('transportista2').value}}</td>
                        <td>{{this.contenedores.controls[i].get('correoTransportista').value}}</td>
                        <td>{{this.contenedores.controls[i].get('patio').value}}</td>
                        <td>
                          <button *ngIf="!aprobada" (click)="removeContenedor( i )" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                          </button>
                          <!-- <button *ngIf="aprobada" [routerLink]="['/solicitudes/papeleta',  this.contenedores.controls[i].get('maniobra').value._id ]" class="btn btn-success">

                            <i class="fas fa-print"></i>
                          </button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <!-- <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button> -->
            <button type="submit " class="btn btn-primary btn-success waves-effect waves-light m-r-10 "
              [disabled]="regForm.pristine || regForm.invalid ">
              <i class="fa fa-save "></i>
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="back()"> Regresar</button>
            <!-- <button type="button" routerLink="/solicitudes" class="btn btn-inverse">Regresar</button> -->
          </div>
        </form>
        <!-- <p>Form value {{ regForm.getRawValue() | json }} </p> -->
      </div>
    </div>
  </div>
</div>
<!-- Row -->