<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <mat-dialog-content>
          <!-- <div class="container"> -->
          <div style="text-align: right;" class="row">
            <!--<div class="col-sm">
              <mat-form-field>
                <mat-select (selectionChange)="consulta()" [(ngModel)]="viaje" placeholder="Seleccione un viaje"
                  name="viaje">
                  <mat-option>--- NINGUNO ---</mat-option>
                  <mat-option *ngFor="let viaje of viajes" [value]="viaje._id">
                    {{ viaje.viaje + ' | ' + viaje.buque?.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>-->
            <!--<div class="col-sm">
              <div class="col-sm">
                <mat-checkbox [(ngModel)]="checkedVacios" #sinFactura (change)="consultaManiobrasDescargaVacios()">
                  Por Facturar
                </mat-checkbox>
              </div>
              <div class="col-sm">
                <mat-checkbox [(ngModel)]="checkedHDescargaVacios" #DescargaVacios
                  (change)="consultaManiobrasDescargaVacios()">Ya Descargados
                </mat-checkbox>
              </div>
              <div class="col-sm">
                <mat-checkbox [(ngModel)]="checkedYaLavados" #hFinLavadoVacios
                  (change)="consultaManiobrasDescargaVacios()">
                  Ya Lavados
                </mat-checkbox>
            </div>
            </div>-->

            <div class="col-sm-12">
              <br>
              <button [disabled]="this.facturacionService.documentosRelacionados.length <= 0" matTooltip="Agregar"
                (click)="agregarDocumentosRelacionados()" mat-raised-button color="primary"
                matBadge="{{this.facturacionService.documentosRelacionados.length}}" matBadgePosition="after"
                matBadgeColor="accent">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Agregar
              </button>
              <br><br>
              <!-- <mat-form-field>
                <mat-select [(ngModel)]="idProdServ" placeholder="Seleccione un Producto o Servicio" name="prodServ">
                  <mat-option>--- NINGUNO ---</mat-option>
                  <mat-option *ngFor="let producto of productos" [value]="producto._id">
                    {{ producto.codigo + ' | ' + producto.descripcion }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
          </div>
          <!-- </div> <br> -->
          <h3 class="card-title">Facturas ( <small>{{totalRegistros}}</small> )</h3>
          <div class="example-header mat-elevation-z8">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
            </mat-form-field>
          </div>
          <br>
          <div class="example-container mat-elevation-z8">
            <mat-table class="mat-table-medium" #table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selectionFacturas.hasValue() && isAllSelected()"
                  [indeterminate]="selectionFacturas.hasValue() && !isAllSelected()">
                </mat-checkbox> -->
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selectionFacturas.toggle(row) : null"
                    [checked]="selectionFacturas.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button [routerLink]="['/maniobras/maniobra/', row._id,'detalle']" class="btn btn-sm btn-info m-r-5">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                <button matTooltip=" Ver Maniobras de Vacios Descarga" (click)="open(row._id)"
                  class="btn btn-sm btn-info m-r-5">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm m-r-5" (click)="corregirContenedor(row)">
                      <i class="fa fa-edit" aria-hidden="true">Corregir</i>
                    </button>
              </mat-cell>
            </ng-container> -->

              <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="folio">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Folio</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.serie}} - {{row.folio}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="metodoPago">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Metodo de Pago</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.metodoPago}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.total.$numberDecimal | currency}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
            </mat-paginator>
          </div>
        </mat-dialog-content>
        <div style="text-align: center">
          <button matTooltip="Agregar facturas a pago" mat-mini-fab class="btn btn-primary"
            (click)="seleccionarFactura()" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- <a *ngIf="this.selectionFacturas.selected.length === 1 && soyAdmin()" (click)="seleccionarFactura()" class="float">
          <i class="fa fa-plus my-float"></i>
        </a> -->
      </div>
    </div>
  </div>
</div>