<!-- <div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarCliente( input.value )" type="text" class="form-control"
                    placeholder="Buscar cliente...">
            </div>
        </div>
    </div>
</div> -->
<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button (click)="exportarXLSX()" class="btn btn-success m-r-10">
            <i class="fas fa-file-excel"></i>
          </button>
          <button matTooltip="Añadir nuevo Cliente" mat-mini-fab class="btn btn-primary"
            [routerLink]="['/cliente','nuevo']" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <h3 class="card-title">Clientes ( <small>{{totalRegistros}}</small> )</h3>
                <div class="col-sm-2">
          <mat-checkbox [checked]="acttrue" [(ngModel)]="acttrue"  #bool (value)="bool.checked" (change)="filtrado(bool.checked)">INACTIVOS</mat-checkbox>
        </div>
        <div class="example-header mat-elevation-z8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba algo para filtrar">
          </mat-form-field>
        </div>
        <br>
        <div class="example-container mat-elevation-z8">
        </div>
        <div class="example-container mat-elevation-z8">
          <mat-table class="mat-table-extra-big" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let cliente">
                <button matTooltip="Editar cliente" [routerLink]="['/cliente', cliente._id ]"
                  class="btn btn-primary m-r-5">
                  <i class="fa fa-edit"></i>
                </button>
                <button matTooltip="Eliminar Cliente" (click)="borrarCliente( cliente )" class="btn btn-danger m-r-5">
                  <i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="activo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Activo</mat-header-cell>
              <mat-cell *matCellDef="let row">

                  <mat-slide-toggle [checked]="row.activo" (change)="habilitarDesabilitarCliente(row, $event)">
                  </mat-slide-toggle>

                </mat-cell>
              </ng-container>

            <ng-container matColumnDef="razonSocial">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.razonSocial}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombreComercial">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Comercial</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nombreComercial}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rfc">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RFC</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.rfc}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="calle">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Calle</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.calle}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noExterior">
              <mat-header-cell *matHeaderCellDef mat-sort-header>No. Ext.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.noExterior}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noInterior">
              <mat-header-cell *matHeaderCellDef mat-sort-header>No. Int.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.noInterior}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="colonia">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Colonia</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.colonia}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="municipio">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.municipio}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ciudad">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ciudad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.estado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cp">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CP</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.cp}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="formatoR1">
              <mat-header-cell *matHeaderCellDef>Formato R1</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a *ngIf="row.formatoR1" [href]="row.formatoR1 | imagen:'cliente'" download="R1" target="_blank">
                  <img src="\assets\images\icon\pdf_32x32.png">
                </a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="correo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.correo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="correoFac">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Correo Fact.</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.correoFac}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="credito">
              <mat-header-cell *matHeaderCellDef>Credito</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <i class="fa fa-check" aria-hidden="row.credito"></i>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="empresas">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Empresas</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-cell *ngFor="let empresa of row.empresas" class="m-r-5"> {{empresa.nombreComercial}} </mat-cell>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]>
          </mat-paginator>
        </div>

        <!-- <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Razon Social</th>
                                <th>Nombre Comercial</th>
                                <th>RFC</th>
                                <th>Calle</th>
                                <th>Numero Exterior</th>
                                <th>Numero Interior</th>
                                <th>Colonia</th>
                                <th>Municipio/Delegacion</th>
                                <th>Ciudad</th>
                                <th>Estado</th>
                                <th>Codigo Postal</th>
                                <th>Formato R1</th>
                                <th>Correo</th>
                                <th>Correo de Facturación</th>
                                <th>Credito</th>
                                <th>Empresas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>
                                    <button [routerLink]="['/cliente', cliente._id ]" class="btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button (click)="borrarCliente( cliente )" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                                <td>{{cliente.razonSocial}}</td>
                                <td>{{cliente.nombreComercial}}</td>
                                <td>{{cliente.rfc}}</td>
                                <td>{{cliente.calle}}</td>
                                <td>{{cliente.noExterior}}</td>
                                <td>{{cliente.noInterior}}</td>
                                <td>{{cliente.colonia}}</td>
                                <td>{{cliente.municipio}}</td>
                                <td>{{cliente.ciudad}}</td>
                                <td>{{cliente.estado}}</td>
                                <td>{{cliente.cp}}</td>
                                <td>
                                    <a *ngIf="cliente.formatoR1" [href]="cliente.formatoR1 | imagen:'cliente'"
                                        target="_blank">
                                        <img src="\assets\images\icon\pdf_32x32.png">
                                    </a>
                                </td>
                                <td>{{cliente.correo}}</td>
                                <td>{{cliente.correoFac}}</td>
                                <td align="center" *ngIf="cliente.credito; else notShow">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </td>
                                <ng-template #notShow>
                                    <td></td>
                                </ng-template>
                                <td>
                                    <p *ngFor="let empresa of cliente.empresas"> {{empresa.razonSocial}} </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                    <i class="fas fa-angle-left"></i> Anteriores
                </button>
                <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                    Siguientes <i class="fas fa-angle-right"></i>
                </button> -->
      </div>
    </div>
  </div>
</div>