<div class="row animated fadeIn">

    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Cliente: {{ cliente.razonSocial }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCliente(f)">
                        <div class="my-container">
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.rfc" name="rfc" type="text" class="form-control" placeholder="RFC" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.razonSocial" name="razonSocial" type="text" class="form-control" placeholder="Razon Social" required>
                            </mat-form-field>
                            <mat-form-field>
                                    <input matInput [(ngModel)]="cliente.nombreComercial" name="nombreComercial" type="text" class="form-control" placeholder="Nombre Comercial" required>
                                </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.calle" name="calle" type="text" class="form-control" placeholder="Dirección" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.noExterior" name="noExterior" type="text" class="form-control" placeholder="Numero Exterior" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.noInterior" name="noInterior" type="text" class="form-control" placeholder="Numero Interior">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.colonia" name="colonia" type="text" class="form-control" placeholder="Colonia" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.municipio" name="municipio" type="text" class="form-control" placeholder="Municipio/Delegacion" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.ciudad" name="ciudad" type="text" class="form-control" placeholder="Ciudad" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.estado" name="estado" type="text" class="form-control" placeholder="Estado" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.cp" name="cp" type="text" class="form-control" placeholder="Codigo Postal" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.correo" name="cp" type="text" class="form-control" placeholder="Correo Personal" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="cliente.correoFac" name="correoFac" type="text" class="form-control" placeholder="Correo De facturación" required>
                            </mat-form-field>
                            <!--========Combombox Agencias=========-->
                            <mat-form-field>
                                <mat-select placeholder="Seleccione una Agencia" [(ngModel)]="cliente.agencias" name="agencias" required>
                                    <mat-option *ngFor="let agencia of agencias" [value]="agencia._id">
                                        {{ agencia.razonSocial }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar
                        </button>
                        <a routerLink="/clientes" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>