<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h4>The request url <label style="color: crimson;">{{url}}</label> was not found on www.reimcontainerpark.com.mx
        </h4>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1><b>Page Not Found</b></h1>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col">
      </div> -->
      <div class="col text-center">
        <img src="../../../assets/images/404.jpg">
      </div>
      <!-- <div class="col">
      </div> -->
    </div>
  </div>