<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        Contenedor<input #input (keyup)="buscarManiobra( input.value )" type="text" class="form-control" placeholder="Buscar maniobra...">
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fas fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Contenedores en transito( <small>{{totalRegistros}}</small> )</h3>
        <div class="form-group">
          <input type="button" value="Exportar a excel" (click)="exportAsXLSX()" />
        </div>
        <div class="table-responsive">
          <table id="contentToConvert" class="table table-sm table-hover table-responsive">
            <thead>
              <tr>
                <th>Carga / Descarga</th>
                <th>Viaje</th>
                <th>Buque</th>
                <th>Transportista</th>
                <th>Contenedor</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th>A.A.</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maniobra of maniobras">
                <td>{{maniobra.cargaDescarga}}</td>
                <td>{{maniobra.viaje?.viaje}}</td>
                <td>{{maniobra.viaje?.buque.nombre}}</td>
                <td>{{maniobra.transportista?.razonSocial}}</td>
                <td>{{maniobra.contenedor}}</td>
                <td>{{maniobra.tipo}}</td>
                <td>{{maniobra.estado}}</td>
                <td>{{maniobra.cliente?.razonSocial}}</td>
                <td>{{maniobra.agencia?.razonSocial}}</td>
                <td>
                  <button [routerLink]="['/llegada_entrada', maniobra._id ]" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                    </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="cambiarDesde(-100)" class="btn btn-secondary">
                        <i class="fas fa-angle-left"></i> Anteriores
                    </button>
          <button (click)="cambiarDesde(100)" class="btn btn-secondary">
                        Siguientes <i class="fas fa-angle-right"></i>
                    </button>
        </div>
      </div>
    </div>
  </div>
</div>