<form class="form-horizontal" [formGroup]="regForm" (submit)="apruebaSolicitud()">

  <mat-accordion [multi]=true>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos Generales
        </mat-panel-title>
        <mat-panel-description>
          Agencia , Cliente
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Agencia</mat-label>
        <input matInput formControlName="agencia" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Agencia</mat-label>
        <input matInput formControlName="cliente" type="text">
      </mat-form-field>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos Facturación
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>RFC</mat-label>
            <input matInput type="text" formControlName="rfc">
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field>
            <mat-label>Razón Social</mat-label>
            <input matInput type="text" formControlName="razonSocial">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Calle</mat-label>
            <input matInput type="text" formControlName="calle">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>No. Exterior</mat-label>
            <input matInput type="text" formControlName="noExterior">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>No. Interior</mat-label>
            <input matInput type="text" formControlName="noInterior">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Colonia</mat-label>
            <input matInput type="text" formControlName="colonia">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Municipio</mat-label>
            <input matInput type="text" formControlName="municipio">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <input matInput type="text" formControlName="ciudad">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput type="text" formControlName="estado">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>C.P.</mat-label>
            <input matInput type="text" formControlName="cp">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Correo Facturación</mat-label>
            <textarea matInput formControlName="correoFac" rows="3" cols="40" class="form-control"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-checkbox formControlName="credito" class="form-control " placeholder="Credito">
            Credito
          </mat-checkbox>
        </div>
        <div class="col-md-4" *ngIf="rutaComprobante.value">

          <mat-label>Comprobante de pago</mat-label>
          <a [href]="rutaComprobante.value | imagen:'solicitud'" target="_blank">
            <img src="\assets\images\icon\pdf.png" class="w70 img-circle pointer">
          </a>

        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detalles de la Carga
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Correo </mat-label>
            <textarea matInput formControlName="correo" rows="3" cols="40"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-3 ">
          <mat-form-field>
            <mat-label>Observaciones Carga </mat-label>
            <textarea matInput formControlName="observaciones" rows="3" cols="40"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-4">

          <mat-form-field>
            <mat-label>Booking</mat-label>
            <input matInput type="text" formControlName="blBooking">
          </mat-form-field>

        </div>
      </div>

      <div class="row ">
        <div class="col-md-12 ">
          <table matNativeControl class="table table-striped ">
            <thead>
              <tr>
                <th scope="col ">#</th>
                <th scope="col ">Tamaño - Tipo</th>
                <th scope="col ">Grado</th>
                <th scope="col ">Estado contenedor</th>
                <th scope="col ">Transportista</th>
                <th scope="col ">Patio</th>
              </tr>
            </thead>
            <tbody formArrayName="contenedores" *ngFor="let item of contenedores.controls; let i=index;">

              <tr [formGroupName]="i ">
                <th scope="row ">{{i+1}}</th>
                <td>{{this.contenedores.controls[i].get('tipo').value}}</td>
                <td>{{this.contenedores.controls[i].get('grado').value}}</td>
                <td>{{this.contenedores.controls[i].get('estado').value}}</td>
                <td>{{this.contenedores.controls[i].get('transportista').value}}</td>
                <td>{{this.contenedores.controls[i].get('patio').value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <button type="button " class="btn btn-success " (click)="validaSolicitud() "> <i class="fa fa-check "></i> Validar</button>
        <button type="submit " class="btn btn-success "> <i class="fa fa-check "></i> Aprobar</button>
        <button type="button " class="btn btn-inverse " routerLink="/solicitudes/aprobaciones ">Regresar</button>
      </div>

      <p>Form value {{ regForm.value | json }} </p>
      <p> Form status {{ regForm.status | json}} </p>
      <p> Form status2 {{ regForm.pristine | json}} </p>
    </mat-expansion-panel>
  </mat-accordion>


</form>