<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarSolicitudes( input.value )" type="text" class="form-control" placeholder="Buscar Solicitudes...">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fas fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Solicitudes de descarga registrados ( <small>{{totalRegistros}}</small> )</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Agencia</th>
                                <th>Naviera</th>
                                <th>Transportista</th>
                                <th>Cliente</th>
                                <th>Viaje</th>
                                <th>Buque</th>
                                <th>observaciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sol of solicitudes">
                                <td>{{sol.agencia.razonSocial}}</td>
                                <td>{{sol.naviera.razonSocial}}</td>
                                <td>{{sol.transportista.razonSocial}}</td>
                                <td>{{sol.cliente.razonSocial}}</td>
                                <td>{{sol.viaje}}</td>
                                <td>{{sol.buque.buque}}</td>
                                <td>{{sol.observaciones}}</td>
                                <td>
                                    <button [routerLink]="['/solicitud_aprobacion', sol._id ]" class="btn btn-primary">
                                        <i class="fa fa-edit"> Ver mas datos</i>
                                    </button>
                                    <button (click)="borrarSolicitud( sol )" class="btn btn-danger">
                                        <i class="fa fa-trash-o"> Borrar</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                        <i class="fas fa-angle-left"></i> Anteriores
                    </button>
                    <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                        Siguientes <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>