<div class="loader" *ngIf="cargandoTimbre === true">
    <div class="mensajeTimbre" *ngIf="cargandoTimbre === true"> {{mensaje}} </div>
</div>


<div id="contenido" #contenido>

    <div class="img">
        <img src="../../../../assets/images/logo_reim_container_park.jpg">
    </div>
    <div class="text">
        <strong>
            <p>TRANSPORTE Y LOGISTICA REIM, SA DE CV</p>
        </strong>
        <p>R.F.C. TLR1308235K8</p>
        <p>Régimen fiscal: General de Ley Personas Morales</p>
        <p>Domicilio Fiscal: 27 76, 68 Y 70, CENTRO, PROGRESO, Yucatán</p>
    </div>
    <hr>
    <div class="exp">
        <p><strong>LUGAR DE EXPEDICIÓN 97320 - Yucatán</strong> </p>
    </div>

    <p class="peso"> Moneda: {{data.data.cfdi.moneda}} - {{moneda}}</p>

    <table>
        <thead>
            <th class="uuid">FOLIO FISCAL (UUID)</th>
            <th>N. SERIE CSD DEL EMISOR <br>N. SERIE CSD DEL SAT</th>
            <th class="metodos">METODO DE PAGO</th>
            <th class="fechas">FECHA DE EMISIÓN <br>FECHA DE CERTIFICACIÓN</th>
            <th>SERIE - FOLIO <br>TIPO COMPR.</th>
        </thead>
        <tbody>
            <td>{{data.data.cfdi.uuid}}</td>
            <td>{{data.data.NoCertificadoEmisor}} <br>{{data.data.cfdi.NoSerieSat}}</td>
            <td class="metodo">{{metodoPago}} <br> {{usoCFDI}}</td>
            <td class="fecha">{{data.data.cfdi.fechaEmision}}
                <br>{{obtenerFechaCert(data.data.cfdi.fechaCertificacion)}}</td>
            <td class='folio'>{{data.data.cfdi.serie}} - {{data.data.cfdi.folio}} <br> <strong
                    class="comprobante">{{comprobante}}
                </strong></td>
        </tbody>
    </table>

    <table class="receptor">
        <thead>
            <th class='receptorC'>RECEPTOR</th>
        </thead>
        <tbody>
            <td class="receptorTD">
                R.F.C: {{data.data.cfdi.rfc}}<br>
                Nombre: {{data.data.cfdi.nombre}}<br>
                Dirección: {{data.data.cfdi.direccion}}
                <p class="uso">
                    USO CFDI: {{usoCFDI}}
                </p>
            </td>
        </tbody>
    </table><br>

    <table class="conceptos">
        <thead>

                <th class="codcantidad">CÒDIGO</th>
                <th class="codcantidad">CANTIDAD</th>
                <th class="unidad">UNIDAD</th>
                <th>DESCRIPCIÒN</th>
                <th class="imp">IMPUESTOS</th>
                <th class="codcantidad">IMPORTE</th>

                
            </thead>
        <tbody *ngFor="let item of data.data.cfdi.conceptos">

            <td>{{item.noIdentificacion}}</td>
            <td>{{item.cantidad}}.00</td>
            <td>{{item.claveUnidad}} - {{claveUnidad}}</td>
            <td>{{item.descripcion}}</td>
            <div *ngFor="let c of item.impuestos">
                <td>({{traslado(c)}}) | {{c.impuesto}} | {{tasaCuota(c)}} | ${{importe(c) | coma}}</td>
            </div>
            <!-- <td>{{item.valorUnitario}}</td> -->
            <td>$ {{item.importe | coma}}</td>
            <tr>
                <td>
                    <hr class="linea">
                </td>
                <td>
                    <hr class="linea">
                </td>
                <td>
                    <hr class="linea">
                </td>
                <td>
                    <hr class="linea">
                </td>
                <td>
                    <hr class="linea">
                </td>
                <td>
                    <hr class="linea">
                </td>
            </tr>
        </tbody>

        <div class="tablatotales">
            <strong>SUBTOTAL: &nbsp;$ &nbsp;</strong> <span class="totales">{{subtotal | coma}}<br></span> 
            <strong>TOTAL IMPORTES RETENIDOS: &nbsp;$ &nbsp; &nbsp; </strong> <span class="totales"> {{totalRetenidos | coma}}<br></span>
            <strong>TOTAL IMPORTES TRASLADADOS: &nbsp;$ &nbsp; &nbsp; </strong> <span class="totales">{{totalTrasladados | coma}}<br></span>
            <strong>TOTAL: &nbsp;$&nbsp; &nbsp;</strong> <span class="totales">{{total | coma }}</span>
        </div>
    </table><br>

    <table>
        <thead>
            <th class="letras">IMPORTE CON LETRAS</th>
        </thead>
        <tbody>
            <td>{{letrasTotal}}</td>
        </tbody>
    </table><br>


    <div class="cadena">CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACIÓN DIGITAL DEL SAT</div>
    <div class="cadenaOriginal">
        {{cadenaOriginal()}}
        <!-- {{data.data.cfdi.cadenaOriginalSat}} -->
    </div>


    <div *ngIf="this.data.data.cfdi.uuid">
        <div class="qrcon"><br>
            <qrcode [qrdata]="this.value" [size]="150"
                style="position: static; width: 100px; background-attachment: static;" errorCorrectionLevel="'M'">
            </qrcode>


        </div>
        <div class="selloEmisor"> SELLO DIGITAL DEL EMISOR
        </div>

        <div class="textEmisor">
            {{data.data.cfdi.selloEmisor}}
        </div>

        <div class="selloSat">
            SELLO DIGITAL DEL SAT
        </div>
        <div class="textoSat">
            {{data.data.cfdi.selloSat}}
        </div>
        <div class="rfcProv">
            RFC PROVEDOR CERTIFICADO
        </div>
        <div class="textrfcProv">
            {{data.data.cfdi.rfcProvCer}}
        </div>
    </div>
    <div *ngIf="!this.data.data.cfdi.uuid">
        <div class="selloEmisorS"> SELLO DIGITAL DEL EMISOR
        </div>

        <div class="textEmisor">
            {{data.data.cfdi.selloEmisor}}
        </div>

        <div class="selloSat">
            SELLO DIGITAL DEL SAT
        </div>
        <div class="textoSat">
            {{data.data.cfdi.selloSat}}
        </div>
        <div class="rfcProv">
            RFC PROVEDOR CERTIFICADO
        </div>
        <div class="textrfcProv">
            {{data.data.cfdi.rfcProvCer}}
        </div>
    </div>

    <div class="pie">
        ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI VERSION 3.3
    </div>

</div>

<div class="conta">
    <label for="checkbox">
        <i class="fa fa-bars"></i>
    </label>
    <input id="checkbox" type="checkbox" />
    <ul>
        <div *ngIf="data.data.cfdi.uuid">
            <button type="button" matTooltip="Descargar PDF" class="botonD btn btn-info  btn-circle" (click)='pdf()'>
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>

            <a matTooltip="Descargar XML" class="botonX btn btn-success btn-circle" [href]="url | imagen: 'xml'"
                download="Xml" target="_blank">
                <i class="fa fa-file-archive-o"></i>
            </a>
        </div>
        <div *ngIf="!data.data.cfdi.uuid">

            <button matTooltip="Timbrar CFDIS" (click)="xmlCFDIS( data.data.cfdi._id )"
                class="botonT btn btn-warning btn-circle">
                <i class="fa  fa-bell-o"></i>
            </button>
        </div>
        <button type="button" matTooltip="Cerrar PDF" class="botonC btn btn-danger btn-circle" (click)="closepdf()">
            <i class="fa fa-times" aria-hidden="true"></i></button>
    </ul>

</div>