.img {
    display: inline-block;
    vertical-align: top;
}
img{
    width: 285px;
    height: 76px;
}
.text {
    margin-top: -64px;
    text-align: right;
}

p {
    font-size: small;
    margin-top: -16px;
    margin-bottom: 1rem;
    color: black;
}
hr {
  height: 2px;
  background-color:#ffca28;
}

/* table,td, th { border: 1px solid black;
} */

table { border-collapse: collapse; margin: auto; width: 100%; margin-top:-14px;}

/* td { width: 100%; height: 10px; } */
th {
    text-align: center;
    font-size: 9px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #b2b4b5;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
    color: black;
    font-weight: bold;
}
.folio {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.comprobante {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

p.peso {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 12px;
    margin-top: -33px;
}
p.uso {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size:11px;
    margin-right: 10px;
}
.receptor{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    
}
.receptorTD{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
.receptorC {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
    background-color: #b2b4b5;

}