<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarContenedor( input.value )" type="text" class="form-control" placeholder="Buscar contenedor...">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!--<div class="text-right">
                    <button [routerLink]="['/camion','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                <i class="fa fa-plus"></i> 
                Añadir nueva camion
              </button>
                </div>-->
                <div class="form-group">
                    <input #inputInicio matInput [matDatepicker]="picker" name="fechaInicio" placeholder="Ingresar fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <input #inputFin matInput [matDatepicker]="picker1" name="fechaFin" placeholder="Ingresar fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <button type="buttom" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-search"></i>
                            Buscar
                            </button>
                </div>
                <h3 class="card-title">Contenedores registrados ( <small></small> )</h3>

                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>No. Contenedor</th>
                            <th>Fecha de entrada</th>
                            <th>Buque de entrada</th>
                            <th>Viaje de entrada</th>
                            <th>Grado</th>
                            <th>Tipo</th>
                            <th>Fecha de carga</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--*ngFor="let camion of camiones"-->
                        <tr>
                            <td>CONT123456</td>
                            <td>12/Abril/2019</td>
                            <td>13/Abril/2019</td>
                            <td>14/Abril/2019</td>
                            <td>A</td>
                            <td>20</td>
                            <td>14/Abril/2019</td>
                            <td>
                                <button class="btn btn-primary">
                            <i class="fa fa-edit"> Detalle de reparación</i>
                          </button>

                                <button class="btn btn-primary">
                            <i class="fa fa-edit"> Detalle de lavado</i>
                          </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  <i class="fas fa-angle-left"></i> Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes <i class="fas fa-angle-right"></i>
              </button>
            </div>

        </div>
    </div>
</div>