<div class="topnav" id="myTopnav">
  <img class="logo" src="assets/images/logo_reim_container_park.svg" alt="Home" />
</div>


<div class="row animated fadeIn">
  <div class="col-md-8">
    <div class="card card-body"><br><br><br><br>
      <h1 class="box-title m-b-0"><strong>Registro</strong></h1><br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form [formGroup]="regForm" (ngSubmit)="guardarRegistro()" novalidate>
            <mat-form-field>
              <mat-label>SELECCIONA UN ROL</mat-label>
              <mat-select formControlName="role" type="text" placeholder="ROLE">
                <mat-option *ngFor="let role of roles" [value]="role._id">
                  {{role.descripcion}}
                </mat-option>

              </mat-select>

            </mat-form-field>
            <div class="my-container">

              <mat-form-field>
                <input matInput formControlName="razonSocial" type="text" placeholder="Razón Social*">
                <mat-error *ngIf="razonSocial.touched && razonSocial.invalid">
                  <sup>*</sup>Por Favor Ingresar Razón Social
                </mat-error>
                <mat-error *ngIf="razonSocial.errors && razonSocial.errors['minlength']">
                  <sup>*</sup>Por Favor Ingresar minimo 5 caracteres de Razón Social
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="rfc" type="text" placeholder="RFC *">
                <mat-error *ngIf="rfc.touched && rfc.invalid">
                  <sup>*</sup>Por Favor Ingresar RFC
                </mat-error>
                <mat-error *ngIf="rfc.errors && rfc.invalid && rfc.errors['minlength']">
                  <sup>*</sup>Por Favor Ingresar minimo 12 Caracteres de RFC
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="direccionFiscal" type="text" placeholder="Direccion Fiscal*">
                <mat-error
                  *ngIf="direccionFiscal.touched && direccionFiscal.invalid && !direccionFiscal.errors?.minlength">
                  <sup>*</sup>Por Favor Ingrese la Dirección de Fiscal
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="role.value === R.AA_ROLE">
                <input matInput formControlName="codigo" type="text" placeholder="Patente">
                <mat-error *ngIf="codigo.touched && codigo.invalid && !codigo.errors?.minlength">
                  <sup>*</sup> Por Favor Ingresar Patente
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="role.value === R.TRANSPORTISTA_ROLE">
                <input matInput formControlName="codigo" type="text" placeholder="CAT">
                <mat-error *ngIf="codigo.touched && codigo.invalid && !codigo.errors?.minlength">
                  <sup>*</sup> Por Favor Ingresar CAT
                </mat-error>
              </mat-form-field>
            </div>
            <!--CORREO DE FACTURACION -->
            <mat-label>Correo de Facturación</mat-label>
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                      <div *ngIf="regForm.get('correotem')">
                    <button type="button" class="btn btn-success"[disabled]="regForm.pristine || regForm.invalid "
                      (click)="addContenedor3(correoF.value); correoF.value=''">
                      +
                    </button>
                      </div>
                  </th>
                  <mat-error
                    *ngIf="correoFacturacion.touched && correoFacturacion.invalid && !correoFacturacion.errors?.minlength">
                    <sup>*</sup> Por Favor Ingresar correctamente correo de Facturación
                  </mat-error>
                  <th scope="col-12"><input formControlName="correotem" class="form-control" #correoF
                      placeholder="Correo Facturación" size="20"></th>
                  <mat-error *ngIf="correotem.touched && correotem.invalid">
                    <sup>*</sup> Por Favor Ingresar correctamente correo de Facturación
                  </mat-error>
                </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>

                  <th scope="col">Correo Facturación</th>

                </tr>
              </thead>
              <tbody formArrayName="correoFacturacion" *ngFor="let item of correoFacturacion.controls; let i = index;">
                <tr [formGroupName]="i">
                  <td scope="row">{{i+1}}</td>
                  <td>
                    <button type="button" (click)="quitar( i )" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                  <td *ngIf="item.get('correoF').value.length > 11;else notShow">
                    {{item.get('correoF').value}}
                  </td>
                  <ng-template #notShow>
                    <td>{{item.get('correoF').value}}</td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
            <!--FIN DE FACTURACION -->

            <!-- <mat-form-field>
                <input matInput formControlName="correoFacturacion" type="text" placeholder="Correo de Facturación*">
                <mat-error
                  *ngIf="correoFacturacion.touched && correoFacturacion.invalid && !correoFacturacion.errors?.minlength">
                  <sup>*</sup> Por Favor Ingresar correctamente correo de Facturación
                </mat-error>
              </mat-form-field> -->

            <!--CORREO OPERATIVO-->
            <mat-label>Correo de Operativo</mat-label>
            <table class="table  table-responsive">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <div *ngIf="regForm.get('correotem2')">
                    <button type="button" class="btn btn-success" [disabled]="regForm.pristine || regForm.invalid "

                      (click)="addContenedor4(correoO.value ); correoO.value=''">
                      +
                    </button>
                  </div>
                  </th>
                  <th scope="col"> <input formControlName="correotem2" class="form-control"  #correoO
                      placeholder="Correo Operativo" size="20"> </th>
                  <mat-error *ngIf="correotem2.touched && correotem2.invalid" >
                    
                    <sup>*</sup> Por Favor Ingresar correctamente correo de Operativo
                  </mat-error>
                </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col">Correo Operativo</th>

                </tr>
              </thead>
              <tbody formArrayName="correoOperativo" *ngFor="let item of correoOperativo.controls; let i = index;">
                <tr [formGroupName]="i">
                  <td scope="row">{{i+1}}</td>
                  <td>
                    <button type="button" (click)="quitar2( i )" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                  <td *ngIf="item.get('correoO').value.length > 11;else notShow">
                    {{item.get('correoO').value}}
                  </td>
                  <ng-template #notShow>
                    <td>{{item.get('correoO').value}}</td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
            <!--FIN OPERATIVO-->
            <!-- <mat-form-field>
                <input matInput formControlName="correoOperativo" type="text" placeholder="Correo Operativo*">
                <mat-error
                  *ngIf="correoOperativo.touched && correoOperativo.invalid && !correoOperativo.errors?.minlength">
                  <sup>*</sup> Por Favor Ingresar correctamente Correo Operativo
                </mat-error>
              </mat-form-field> -->


            <!-- AGREGAR NOMBRE Y  CORREO -->
            <mat-label>Nombre y Correo del Usuario*</mat-label>
            <table class="table table-striped  table-responsive">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                      <div *ngIf="regForm.get('correotem2')">
                    <button type="button" class="btn btn-success" [disabled]="regForm.pristine || !regForm.valid "
                      (click)="addContenedor2(correo.value, nombre.value);correo.value='';nombre.value=''">
                      +
                    </button>
                  </div>
                  </th>
                  <th scope="col"><input class="form-control" formControlName="correotem3"  #correo placeholder="Correo Usuario" size="20"></th>
                  <mat-error *ngIf="correotem2.touched && correotem2.invalid" >
                    
                      <sup>*</sup> Por Favor Ingresar correctamente Correo Personal 
                    </mat-error>
                  <th scope="col"><input class="form-control" #nombre placeholder="Nombre Completo del Usuario"
                      size="30"></th>
                </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col">Correo</th>
                  <th scope="col">Nombre del Usuario</th>
                </tr>
              </thead>
              <tbody formArrayName="datosPersonales" *ngFor="let item of datosPersonales.controls; let i = index;">
                <tr [formGroupName]="i">
                  <td scope="row">{{i+1}}</td>
                  <td>
                    <button type="button" (click)="quitar3( i )" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                  <td *ngIf="item.get('correo').value.length > 11;else notShow">
                    {{item.get('correo').value}}
                  </td>
                  <ng-template #notShow>
                    <td>{{item.get('correo').value}}</td>
                  </ng-template>
                  <td>{{item.get('nombre').value}}</td>
                </tr>
              </tbody>
            </table>
            <!-- FIN DE AGREGAR-->
            <button type="submit " class="btn btn-primary btn-success waves-effect waves-light m-r-10 "
              [disabled]="regForm.pristine || !regForm.valid ">
              <i class="fa fa-save "></i>
              Guardar
            </button>
            <button type="button" class="btn btn-danger" (click)="salir()"> Salir</button>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>