<div class="row animated fadeIn">

    <div class="col-lg-7">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Viaje: {{ viaje.viaje }}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f='ngForm' (ngSubmit)="guardarViaje(f)">
                        <div class="my-container">
                            <div class="my-container2">
                                <!--========Cargar Excel=========-->
                                <h3>Seleccione archivos</h3>
                                <input (change)="seleccionExcel($event.target.files[0])" type="file" name="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                <h4>Cargar archivos</h4>
                                <button (click)="cargarExcel()" class="btn btn-success">Cargar Excel</button>
                                <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>
                            </div>
                            <div class="my-container2">
                                <!--========input viaje=========-->
                                <mat-form-field class="inputpersonalizado">
                                    <input matInput [(ngModel)]="viaje.viaje" name="viaje" type="text" class="form-control" placeholder="Ingrese el viaje" required>
                                </mat-form-field>
                                <!--========Combombox Buque=========-->
                                <mat-form-field class="inputpersonalizado">
                                    <mat-select placeholder="Seleccione un Buque" (selectionChange)="cambioBuque( $event.value )" [(ngModel)]="viaje.buque" name="buque" required>
                                        <mat-option *ngFor="let buque of buques" [value]="buque._id">
                                            {{ buque.buque }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="my-container2">
                                <!--========input fecha arrivo=========-->
                                <mat-form-field class="inputpersonalizado">
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="viaje.fechaArrivo" name="fechaArrivo" type="text" class="form-control" placeholder="Fecha de arrivo" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <!--========input fecha temporal=========-->
                                <mat-form-field class="inputpersonalizado">
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="viaje.fechaVigenciaTemporal" name="fechaVigenciaTemporal" type="text" class="form-control" placeholder="Vigencia del temporal" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <!-- <input (change)="seleccionPDF($event.target.files[0])" type="file" name="file2" accept="*.pdf" />-->

                            </div>
                            <!--========Combombox Naviera=========
                            <mat-form-field class="naviera">
                                <mat-select placeholder="Seleccione una Naviera" (selectionChange)="cambioNaviera( $event.value )" [(ngModel)]="viaje.naviera" name="naviera" required>
                                    <mat-option *ngFor="let naviera of navieras" [value]="naviera._id">
                                        {{ naviera.naviera }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>-->
                            <!--<mat-form-field>
                                <input matInput [(ngModel)]="viaje.contenedor" name="contenedor" type="text" class="form-control" placeholder="Ingrese el contenedor" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Seleccione una contenedor" name="contenedor" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let contenedor of contenedores" [value]="contenedor.contenedor">
                                        {{contenedor.contenedor}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="tipo">
                                <mat-select placeholder="Seleccione el tamaño" [(ngModel)]="viaje.tipo" name="tipo" required>
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                        {{tipo.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="v/i">
                                <mat-select placeholder="Seleccione si es vacio o importación" [(ngModel)]="viaje.vacioimportacion" name="vacioimportacion" required>
                                    <mat-option *ngFor="let vacioimport of vacioimports" [value]="vacioimport.value">
                                        {{vacioimport.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngFor="let contenedor of contenedores; let i = index">
                                <mat-slide-toggle [checked]="flagArray[i]">
                                    {{contenedor.contenedor}}
                                </mat-slide-toggle>
                            </div>-->
                            <table matNativeControl class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Contenedor</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th>Cliente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let contenedor of contenedores">
                                        <th>{{contenedor.Contenedor}}</th>
                                        <th>{{contenedor.Tipo}}</th>
                                        <th>{{contenedor.Estado}}</th>
                                        <th>{{contenedor.Cliente}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                              <i class="fa fa-save"></i>
                              Guardar
                            </button>
                        <a routerLink="/viajes" class="btn btn-danger waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <mat-card>
            <div class="card-body" align="center">
                <h4 class="card-title">Archivo Temporal</h4>
                <h6 class="card-subtitle">{{viaje.pdfTemporal}}</h6>
                <img *ngIf="!fileTemp" [src]="viaje.pdfTemporal | imagen" class="w150">
                <img *ngIf="fileTemp" [src]="fileTemp" class="w150">
                <input (change)="seleccionTemporal($event.target.files[0])" type="file" name="file2" accept=".pdf, image/*">
                <br>
                <br>
                <!-- <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fas fa-save"> Actulizar</i></button>-->
            </div>
        </mat-card>
    </div>

    <!--<div class="col-md-6">
        <mat-card>
            <h3>Seleccione archivos</h3>
            <input (change)="seleccionExcel($event.target.files[0])" type="file" name="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            <h4>Cargar archivos</h4>
            <button (click)="cargarExcel()" class="btn btn-success">Cargar Excel</button>
            <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>
            <label><b>Contenedor</b></label>
            <input #contenedor type="text" class="form-control">
            <label><b>Tipo</b></label>
            <input #tipo type="text" class="form-control">
            <label><b>Estado</b></label>
            <input #estado type="text" class="form-control">
            <label><b>cliente</b></label>
            <input #cliente type="text" class="form-control">
            <button (click)="anadirContenedor(contenedor.value, tipo.value, estado.value, cliente.value)" class="btn btn-success">Añadir</button>
            <table matNativeControl class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Contenedor</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contenedor of contenedores">
                        <th>{{contenedor.Contenedor}}</th>
                        <th>{{contenedor.Tipo}}</th>
                        <th>{{contenedor.Estado}}</th>
                        <th>{{contenedor.Cliente}}</th>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>-->
</div>

<!--<div class="container" style="margin-top: 15px;text-align: -webkit-center;">
    <div class="panel panel-default" style="width: 70%;text-align: -webkit-center;">

     
        <div class="panel-body" style="text-align: -webkit-center;">
            <div *ngFor="let data of myItems;let i= index" class="alert alert-info" style="width: 50%;">
                {{data.Value}}
                <a href="#" (click)="DeleteItem(i)" style="float: right;">
                    <span class="fa fa-save"></span>
                </a>
                <a href="#" (click)="EditItem(i)" style="float: right;padding-right: 8px;">
                    <span class="fa fa-save"></span>
                </a>
            </div>
            <div *ngIf="myItems.length == 0" class="alert alert-info" style="width: 50%;">
                Items Are Empty !!!
            </div>
        </div>
      
        <div class="panel-footer">
            <div class="form-group">
               
                <form name="itemForm">
                    <input id="Value" name="Value" required [(ngModel)]="newItem.Value" minlength="3" maxlength="10" style="width: 50%;" placeholder="Enter Any Item" class="form-control">
                </form>
                <br>
               
                <button type="submit" (click)="AddItem()" [disabled]="IsForUpdate == true" class="btn btn-default">Add</button>
              
                <button type="submit" (click)="UpdateItem()" [disabled]="IsForUpdate == false" class="btn btn-default">Update</button>
            </div>
        </div>
    </div>
</div>-->